<style>

  body {
    height: auto;
    margin: 0;
  }

  .payment-container {
    text-align: center;
    background-color: white;
    width: auto;
    height: 90vh;
  }

  .payment-container h1 {
    margin: 0;
  }



 

/*---- contact bar section ----*/

  .contact-bar {
    background-color: #0f2a51;
    width: auto;
    height: auto;
    text-align: center;
    color: rgb(181, 181, 181);
  }


  .contact-bar a {
    text-decoration: none;
    color: white;
  }

  .contact-bar .svg-inline--fa {
    color: white;
    font-size: 1.5em;
    padding-left: .5em;
  }

  .contact-bar .box {
    display: inline-block;
    vertical-align: middle;
    padding-left: .3em;
    padding-top: .2em;
    padding-bottom: .2em;
  }
  
  .contact-bar h2 {
    color: white;
    font-size: 12px;
  }

  


/*---- sitemap section ----*/

  .sitemap {
    background-color: gray;
    width: auto;
    height: auto;
    text-align: center;
    color: rgb(181, 181, 181);
  }


  .sitemap h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    display: inline-block;
    font-size: 10px;
  }

  .sitemap a {
    text-decoration: none;
    color: white;
  }

  .sitemap .box {
    display: inline-block;
    vertical-align: middle;
  }





  .price-heading {
    width: auto;
    height: 100px;
    padding: 20px;
  }


  .price-box {
    background-color: white;
    color: #0f2a51;
    border: 1px solid #0f2a514d;
    width: 30%;
    max-width: 350px;
    min-width: 300px;
    height: 32em;
    vertical-align: top;
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 1em;
    transition: all .4s linear 0s;
  }

  .price-body-top {
    width: auto;
    height: 210px;
    padding-left: 55px;
    padding-right: 20px;
    text-align: left;
  }

  .price-body-top p {
    margin-top: -9px;
  }

/*-- seal section --*/

.seal-section {
  text-align: center;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: gray;
}

.visa-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.google-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.master-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.discover-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.american-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.jcb-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.android-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.apple-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

.diners-card {
  width: 40px;
  max-width: 50px;
  height: auto;
}

#comodo-seal-box  {
  width: 50px;
  max-width: 60px;
  height: auto;
  border: solid red;
}

.comodo-seal {
  width: auto;
  height: auto;
}

#fb.svg-inline--fa.fa-w-14 {
  color: #00327a;
  position: absolute;
  right: 1.7em;
  padding-right: 0px;
  font-size: 22px;
}

#ig.svg-inline--fa.fa-w-14 {
  color: #00327a;
  position: absolute;
  right: .3em;
  font-size: 22px;
}

.box #fb.svg-inline--fa.fa-w-14 {
  color: white;
  position: relative;
  right: .5em;
  font-size: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.box #ig.svg-inline--fa.fa-w-14 {
  color: white;
  position: relative;
  right: .1em;
  font-size: 20px;
  padding-left: 0px;
}


</style>



<head>
 <!--include meta data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Gridometry</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">

</head>

<body>



<div class="payment-container">

  
  <div class="price-box">
        <div class="price-heading" id="essential">
          <h1>Premium <br>Package</h1>
        </div>

        <div class="price-body-top">
          <p><i class="fas fa-check-circle"></i>Unlimited Design Concepts</p>
          <p><i class="fas fa-check-circle"></i>Unlimited Stock Images</p>
          <p><i class="fas fa-check-circle"></i>Unlimited Pages of Content</p>
          <p><i class="fas fa-check-circle"></i>Unlimited Animations</p>
          <p><i class="fas fa-check-circle"></i>Contact Form</p>
          <p><i class="fas fa-check-circle"></i>Custom Mobile Design</p>
          <p><i class="fas fa-check-circle"></i>48hr Project Window</p>
          <div class="price-body-bottom" id="price-body-essential">

          </div>
        </div>

        <div class="price-bottom">
          <%= form_tag premium_index_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <h2>$289</h2>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Purchase Web Package"
                    data-amount="28900"
                    data-locale="auto">
            </script>
          <% end %>
        </div>

    </div>
</div>

<div class="contact-bar">
  <div class="box">
    <i class="fas fa-envelope"></i>
  </div>
</div>

<div class="seal-section">
  <%= image_tag "visa-card.png", :class => "visa-card" %>
  <%= image_tag "google-card.png", :class => "google-card" %>
  <%= image_tag "master-card.png", :class => "master-card" %>
  <%= image_tag "discover-card.png", :class => "discover-card" %>
  <%= image_tag "american-card.png", :class => "american-card" %>
  <%= image_tag "jcb-card.png", :class => "jcb-card" %>
  <%= image_tag "android-card.png", :class => "android-card" %>
  <%= image_tag "apple-card.png", :class => "apple-card" %>
  <%= image_tag "diners-card.png", :class => "diners-card" %>

</div>


<div class="sitemap">
  <div class="box">
    <h3>Copyright <i class="far fa-copyright"></i> 2018 Gridometry LLC | All Rights Reserved</h3>
  </div>
  <div class="box">
    <%= image_tag "comodo_secure_seal_113x59_transp.png", :class => "comodo-seal" %>
  </div>
</div>
</body>
