<%= form_with model: @site, local: true do |form| %>

    
<% if @site.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :firstName, "First Name:", :class => "form_label" %><br>
    <%= form.text_field :firstName, :class => "form_text_field" %>
  </p>

  <p>
    <%= form.label :lastName, "Last Name:", :class => "form_label" %><br>
    <%= form.text_field :lastName, :class => "form_text_field" %>
  </p>

  <p>
    <%= form.label :phone, "Phone:", :class => "form_label" %><br>
    <%= form.text_field :phone, :class => "form_text_field" %>
  </p>

  <p>
    <%= form.label :email, "Email:", :class => "form_label" %><br>
    <%= form.text_field :email, :class => "form_text_field" %>
  </p>
   
  
  <p>
    <%= form.label :message, "Tell us about your project:", :class => "form_label" %><br>
    <%= form.text_area :message, :class => "form_text_area" %>
  </p>

  <p>
    <%= form.submit :Send, :class => "form_send" %>
  </p>
  
<% end %>
