
<!DOCTYPE html>
<html lang="en">
  <head>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pies Unlimited</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">


<style>

/*-- body section --*/

body {
margin: 0 !important;
padding: 0px;

}

hr {
border: solid 1px rgb(5, 5, 76);
width: 70px;
border-width: 1px 0 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 3em;
}


.featured_text {
text-align: center;
}


.container {
width: 100% !important;
}



.container p {
font-size: 18px;
padding-left: 1em;
padding-right: 1em;
max-width: 600px;
width: 75%;
margin-right: auto;
margin-left: auto;
color: rgb(10, 103, 155);
}

h1.title {
color: rgb(191, 21, 51);
margin-bottom: 1em;
margin-left: 3em;
margin-right: 3em;
font-size: 2.5em;
}

h2.title {
color: rgb(10, 103, 155);
margin-top: 0 !important;
}



/*--- end ---*/























/*--- footer sections ---*/

.main-footer {
  background-color: #bf1533;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3em;
}

.footer-box {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 1.5em;
  padding-bottom: 0em;
  padding-right: 1.5em;
  color: white;
}

.footer-box ul li {
  list-style-type: none;
  color: white;

}

.footer-box ul li a {
  color: #fff;
  text-decoration: none;

}

.footer-box ul li a:hover {
  color: rgb(10, 103, 155);
}

.footer-box h6 {
  color: #fff;
}

.footer-box p {
  width: 350px;
  height: auto;
  padding: 10px;
}

#bottom-footer h5 {
text-align: left;
font-size: 14px;
color: white;
width: 435px;
border: solid red;
}

div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}

#bottom-footer h6 {
color: white;
font-weight: 0;
font-size: 12px;
margin: 0;
}


div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}


.top-footer {
text-align: center;
}

.top-footer .pie-icon {
text-align: center;
}

.top-footer p {
width: 50%;
margin: 0 auto;
}

#footer-facebook:hover {
background-color: white;
}

#footer-facebook.svg-inline--fa.fa-w-9:hover {
  color: red;
}

#footer-instagram:hover {
background-color: white;
}

#footer-instagram.svg-inline--fa.fa-w-14:hover {
  color: red;
}



.bottom-pic {
  position: relative;
  margin-bottom: -4px;
}

.bottom-pie-pic {
  width: 100%;
  height: auto;
}


/*--- end ---*/


















/*--- gift section ---*/
#gift-box {
  border: 3px solid rgb(85, 46, 31);
  background-color: rgb(255, 238, 214);
  width: auto;
  height: auto;
}

h6.gift-header {
  color: rgb(191, 21, 51);
}


.sister-site-box {
width: 210px;
padding-left: 0;
}

ul.sister-site-box li a {
color: white;
transition: all .2s linear 0s;     
}

ul.sister-site-box li a:hover {
color: rgb(10, 103, 155);
transition: all .2s linear 0s;     

}


/*--- end ---*/




















/*--- nav section ---*/

ul {
  margin: 0;
  height: auto;
}

nav {
text-align: center;
z-index: 999;
position: fixed;
top: 0;

background-color: white;
width: 100%;
height: auto;  

}

ul.main-nav {
  text-align: left;
}

ul.main-nav ul li a {
  padding-top: 20px;
}

nav a {
color: rgb(10, 103, 155);
text-decoration: none;
font-size: 23px;

padding: 0 12px;
}

nav a:hover {
  color: rgb(191, 21, 51);
}



.pu-nav-bar ul li  {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.call-box {
  text-align: center;
}


.call-box a {
color: rgb(191, 21, 51);
font-size: 16px;
position: absolute;
top: 0;
right: 45px;
}

.call-box a:hover {
  color: rgb(10, 103, 155);
}

.svg-inline--fa.fa-w-9 {
width: 1em;
}

.svg-inline--fa.fa-w-14 {
position: initial;
visibility: visible;
width: 1em;
}



#nav-facebook.svg-inline--fa.fa-w-9 {
  font-size: 17px;
}

#nav-instagram.svg-inline--fa.fa-w-14 {
  font-size: 17px;
}





.svg-inline--fa {
color: white;
background-color: rgb(10, 103, 155);
border-radius: 22px;
padding: 7px;
}

.svg-inline--fa:hover {
background-color: rgb(191, 21, 51); 
border-radius: 22px;
padding: 7px;
}


.top-facebook {
position: absolute;
top: 3px;
right: 168px;
}

.top-instagram {
position: absolute;
top: 3px;
right: 210px;
}



/*--- end ---*/












/*----- Jumbotron/Slideshow Section --------*/

.jumbotron {
width: 100%;
height: 75vh;
overflow: hidden;
background-color: transparent;
}



.cc-slideshow, .cc-slideshow:after { 
list-style-type: none;
position: static;
width: 100%;
height: 100vh;
top: 0px;
left: 0px;
z-index: 0;
margin: 0;
}

.cc-slideshow li span { 
margin-top: 0;
width: 100%;
height: 100vh;
position: absolute;
top: 0px;
right: 0px;
background-size: cover;
background-position: 5% 5%;
background-repeat: no-repeat;
opacity: 0;
animation: imageAnimation 60s linear infinite 0s; 
}



@media screen and (max-width: 550px){
.cc-slideshow li span {
width: 150%;
}
}



.cc-slideshow li:nth-child(1) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 

}
.cc-slideshow li:nth-child(2) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 40s; 
}
.cc-slideshow li:nth-child(6) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 50s; 
}


 
.cc-slideshow li:nth-child(2) div { 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) div { 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) div { 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) div { 
animation-delay: 40s; 
}
.cc-slideshow li:nth-child(6) div { 
animation-delay: 50s; 
}

@keyframes imageAnimation { 
0% { opacity: 0; animation-timing-function: ease-in; }
8% { opacity: .70; animation-timing-function: ease-out; }
17% { opacity: .90 }
25% { opacity: 0 }
100% { opacity: 0 }
}

/*-- end --*/






/*-- history section --*/

#history {
text-align: center;
padding-top: 8em;
padding-bottom: 4em;

}

#history p {
font-size: 30px;
}


/*-- end --*/




/*--- bar1 section ---*/

.bar1 {
background-image: url("/assets/rasp-cheesecake.jpeg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;
}



.bar1 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;  
}


/*--- end ---*/



/*--- bar2 section---*/

.img-bar2 {
background-image: url("/assets/rasp-cheesecake.jpeg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;


}


/*--- end ---*/








/*--- pie/main-boxi section ---*/

.main-boxi {
text-align: center;
width: 100%;
height: auto;
padding: 8em 0;
background-image: url("/assets/pie-background2.png");
background-position: center;
background-attachment: scroll;
background-repeat: repeat;
background-size: cover;
background-color: white;




}

.main-boxi p {
width: auto;
height: auto;
font-size: 24px;
color: rgb(10, 103, 155);
}

.boxi {
display: inline-block;
margin: 0 0;
vertical-align: top;
width: 40%;
height: auto;
max-width: 300px;
min-width: 250px;
}

.all-text-boxi {
width: auto;
height: auto;
}



.main-boxi h1 {
font-size: 34px;
}

#pie-container {
margin: 3em 0;
text-align: center;
}

.pie-boxes {
text-align: center;
}

.pie-box {
display: inline-block;
}



/*--- end ---*/


/*--- bar3 section ---*/

.img-bar2 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-top: 0;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;
}








/*--- end ---*/



/*--- bar4 section ---*/


#bar4-pu {
  padding: 4em 0;
  background-color: #fff;
  margin: 0 0;
  text-align: center;
}

#bar4-pu h1 {
  color: rgb(191, 21, 51);
}

.mail-box {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  width: 40%;
  height: auto;
}


/*--- end ---*/










/*--- fundraiser section ---*/

.fundraiser {
  text-align: center;
  padding: 0 2em;
  margin-bottom: 8em;
}


.fundraiser .title {
  text-align: center;
}

.fundraiser ol li {
  text-align: left;
  color: rgb(10, 103, 155);
}

.fundraiser h2 {
  padding: 0 5em;
  color: rgb(10, 103, 155);
}

.fundraiser p {
  padding: 0 6em;
  color: rgb(10, 103, 155);
}

.fundraiser i {
  color: rgb(10, 103, 155);
}

/*--- end ---*/



/*--- gift packaging ---*/

.gift-packages {
  
}

.gift-packages h2 {
  margin-bottom: 0;
}

.gift-packages h1 {
  color: white;
}


.package-box {
  color: white;
  overflow: hidden;
}

.package-box h5 {
  font-size: 1.2em;
}

.chalk-board {
  width: 100%;
  max-width: 800px;
  height: auto;
  overflow: hidden;
}



.featured_text i {
font-size: 12px;
padding-top: 0;
}



.image-container {
text-align: center;
}







/*---- contact section ----*/

.contact-form {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-bottom: 9em;
  padding-top: 3em;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;

}

.contact-form h1 {
  font-size: 34px;
  color: #05054c;  
  padding-right: 5px;
}

.contact-form h4 {
  color: white;
  margin-top: .5em;
  margin-bottom: 2em;
}
  
form {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 55%;
}

@media screen and (max-width: 500px){
    form {
      width: 80%;
    }
  }

input[type="text"], input[type="email"], textarea {
  font-family: 'Times New Roman', sans-serif;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: solid 1px rgb(10, 103, 155);
  padding: 10px 15px;
  background: #fff;
  font-size: 12pt;
  margin-bottom: 3px;
  color: black; 
}

  
textarea {
  min-height: 150px;
  margin-bottom: 5px; 
  border-radius: 0;
}

.pu-button {
  background-color: rgb(10, 103, 155);
  font-family: 'Times New Roman', sans-serif;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  outline: 0; 
  float: right;
  border: solid 1px transparent;
  transition: all .4s linear 0s;     


}


 #contact-us h1 {
    margin-top: 4em;
  }


#contact-us {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 7em;
}

.pu-button:hover {
  color: white;
  background-color: rgb(191, 21, 51);
  transition: all .2s linear 0s;     

}


#map {
width: 300px;
height: 265px;
margin: .5em;
}



.map-container {
  text-align: center;
  margin-bottom: 3em;

}

.boxx {
  display: inline-block;
  vertical-align: top;
}

.boxx h2 {
  color: rgb(191, 21, 51);
  margin: 0;
}

.boxx li {
  color: rgb(10, 103, 155);
}

.map-container ul li {
  font-size: 20px;
  list-style-type: none;
}




#hours {
}

.map-container ul {
  padding: 0px;
}

#location-marker {
  font-size: 2em;
  color: rgb(10, 103, 155);
  background-color: transparent;
}

#store-info-box {
  width: 275px;
  padding-left: 25px;
}


#sister-site-box {
  margin-top: 44px;
  width: 245px;
  margin-right: 35px;
}

#sister-site-box ul li a {
  color: rgb(191, 21, 51);
  text-decoration: none;
  transition: all .3s linear 0s;     


}

#sister-site-box ul li a:hover {
  color: rgb(10, 103, 155);
}

#sister-site-box h2 {
  margin-bottom: .8em;
}

@media screen and (max-width: 500px){
  #sister-site-box {
    margin: 0px;
  }
}


/*-- end --*/









/*-- logo's/icons section --*/

.car {
width: 100px;
height: auto;
}

.truck {
width: 100px;
height: auto;
}

.pu-logo {
width: 125px;
height: auto;
float: left;
padding-right: 5em;
}

/*--- end ---*/



/*--- product list ---*/

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(10, 103, 155);
  color: white;
}

/*--- end --*/

















/*--- mobile section ---*/


.test {
  display: none;
}

 

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #f8f8f8;
  min-width: 160px;
  overflow: auto;
  z-index: 0;
}

li {
  list-style-type: none;
}
.dropdown-content a {
  color: rgb(10, 103, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}


.show {
  display: none;
}

.dropbtn {
  display: none;
}


@media screen and (max-width: 910px){
  nav a {
    display: none;
  }

  .show {
    display: block;
  }

  .dropbtn {
    display: initial;
    position: absolute;
    top: 50px;
    right: 76px;

    background-color: rgb(10, 103, 155);
    color: white;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    width: 26px;
    padding: 12px;
    border-radius: 8px;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(191, 21, 51);
  }

  nav a {
    display: none;
  }

  .test {
    display: initial;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 2em;
  }

}

@media screen and (max-width: 500px){

  .jumbotron {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  }

  .cc-slideshow li span { 
  margin-top: 5em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-size: contain;
  background-position: 5% 5%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: imageAnimation 50s linear infinite 0s;
  z-index: 0; 
  }

  .cc-slideshow, .cc-slideshow:after { 
    height: 22vh;
  }


  .container p {
    font-size: 22px;
  }

  .bar1 h1 {
    font-size: 2.5em;
    margin-top: 0;
  }

  .bar2 h1 {
    font-size: 2.5em;
  }

 

  #specialty {
    padding: 3em 0 4em 0;
  }

  .mail-box {
    margin: 1em auto;
    width: auto;
  }

 
  .main-footer {
    padding-left: 0;
  }

  #hours {
    padding-left: 0;
  }

  .footer-box {
    font-size: 14px;
  }

  #store-info-box {
    width: 275px;
    padding-left: 0px;
  }


  
}


@media screen and (max-width: 401px){
  #history {
    padding-top: 10em;
    margin-top: 5em;
  }
}

/*--- end ---*/








</style>







</head>
<body>











<!-- nav section -->

<nav>
  <div class="pu-nav-bar">
        <ul class="main-nav">
          <li><%= image_tag "pu-logo4.png", :class => "pu-logo" %></li>
          <li><%= link_to "Home", sites_piesunlimited_path %></li>
          <li><%= link_to "Product List", sites_productlist_path %></li>
          <li><%= link_to "Gift Packages", sites_giftpackages_path %></li>
          <li><%= link_to "Fundraising", sites_fundraising_path %></li>
          <li><%= link_to "Contact Us", sites_contactus_path %></li>
          <li><div class="top-facebook"><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="nav-facebook" class="fab fa-facebook-f"></i></a></div></li>
          <li><div class="top-instagram"><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="nav-instagram" class="fab fa-instagram"></i></a></div></li>
          <li><div class="call-box"><a href="tel:+17024337437">Call Today! <br>+1-702-433-PIES</a></div></li>
        </ul>

        <div class="button" onclick="myFunction()"><%= image_tag "menu-icon.png", :class=>"dropbtn" %></div>
        <div id="myDropdown" class="dropdown-content">
          <li><%= link_to "Home", sites_piesunlimited_path %></li>
          <li><%= link_to "Product List", sites_productlist_path %></li>
          <li><%= link_to "Gift Packages", sites_giftpackages_path %></li>
          <li><%= link_to "Fundraising", sites_fundraising_path %></li>
          <li><%= link_to "Contact Us", sites_contactus_path %></li>
        </div>

  </div>
</nav>


<!-- end -->








<!-- contact section -->




<div class="container" id="contact-us">
  <div id="bar5-pu">
    <h1 class="title">Contact Us</h1>
    
    <form action="" method="POST">
        <input placeholder="Name:" type="text" name="name" required>
        <input placeholder="Email:" type="email" name="email" required>
        <textarea placeholder="Leave us a message:" type="text" name="message"></textarea><br>
        <input type="submit" value="Submit" class="pu-button" id="submit">
    </form>
  </div>

</div>

<div class="map-container">

  <div class="boxx" id="sister-site-box">
   <div class="text" >
      <ul>
        <h2>Visit Our Sister Site!</h2><!-- change verbage below -->
        <li>If you are looking for specialty cakes for birthdays, weddings or anniversaries <br>visit our sister site <a href="http://www.fantasyweddingcakes.com" target="_blank">www.FantasyWeddingCakes.com</a> for more information.</li>
      </ul>
    </div>
  </div>

  <div class="boxx">
    <div id="map"></div>
  </div>

  <div class="boxx" id="store-info-box">
    <div class="text">
      <ul>
        <i id="location-marker" class="fas fa-map-marker-alt"></i>
        <h2>Location</h2><br>
        <li>2465 W Craig Rd</li>
        <li>North Las Vegas, NV 89032</li>
      </ul>
    </div>

    <br>

    <div class="text" id="hours">
      <ul>
        <h2>Store Hours:</h2>
        <li>Monday - Friday 10am - 5:30pm</li>
        <li>Saturday 10am - 3:00pm</li>
        <li>Sunday Closed</li>
        <br>
        <li>Telephone: 702-433-7437</li>
        <li>Fax: 702-433-7432</li>
      </ul>
    </div>

  </div>
</div>







<!-- footer section -->





<div class="main-footer">
    <div class="footer-box">
      <ul class="footer_menu">
      <h3>Press Mentions</h3>
          <li>National Pie Day NEWS 13</li>
          <li>Review Journal</li>          
          <li>In Business Las Vegas</li>
          <li>Summerlin South View</li>
          <li>Summerlin View</li>
      </ul>
    </div>

    <div class="footer-box">
      <ul class="footer_menu">
          <h3>Navigation</h3>
          <li><%= link_to "Home", sites_piesunlimited_path %></li>
          <li><%= link_to "Product List", sites_productlist_path %></li>
          <li><%= link_to "Gift Packages", sites_giftpackages_path %></li>
          <li><%= link_to "Fundraising", sites_fundraising_path %></li>
          <li><%= link_to "Contact Us", sites_contactus_path %></li>
      </ul>       
    </div>


     <div class="footer-box">
        <ul class="footer_social_icons">
            <h3 class="social">Social</h3>
                <li><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="footer-facebook" class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="footer-instagram" class="fab fa-instagram"></i></a></li>
        </ul>
      </div>

      <div class="footer-box" id="hours">
        <ul class="footer_menu">
            <h3>Location</h3>
            <li>2465 W Craig Rd</li>
            <li> North Las Vegas, NV 89032</li>
            <br>
            <h3>Store Hours:</h3>
            <li>Monday - Friday 10am - 5:30pm</li>
            <li>Saturday 10am - 3:00pm</li>
            <li>Sunday Closed</li>
            <br>
            <li>Telephone: 702-433-7437</li>
            <li>Fax: 702-433-7432</li>
            
        </ul>
      </div>

  
        
    </div>
</div>


<div class="container" id="bottom-footer">

  <br>

  <h6>&copy; 2019 Pies Unlimited. All Rights Reserved.</h6>
</div>


<!-- end -->











 </body>
</html>




<!-- script section -->

<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var target = {lat:36.238525, lng:-115.175963};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: target});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: target, map: map});
}

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDaE4Dchs7EoMUAiYlH10K7WPhTvNwk9k&callback=initMap">
</script>








<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<!-- end -->








<!-- end -->