
<!DOCTYPE html>
<html lang="en">
  <head>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pies Unlimited</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">


<style>











/*-- body section --*/

body {
margin: 0 !important;
padding: 0px;

}

hr {
border: solid 1px rgb(5, 5, 76);
width: 70px;
border-width: 1px 0 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 3em;
}


.featured_text {
text-align: center;
}


.container {
width: 100% !important;
}



.container p {
font-size: 30px;

padding-left: 1em;
padding-right: 1em;
max-width: 600px;
width: 75%;
margin-right: auto;
margin-left: auto;
color: rgb(10, 103, 155);
}



h1.title {
color: rgb(204, 122, 170);
margin-bottom: 1em;
margin-left: 3em;
margin-right: 3em;
font-size: 2.5em;
}

h2.title {
color: rgb(10, 103, 155);
margin-top: 0 !important;
}



/*--- end ---*/

















/*-- logo's/icons section --*/

.car {
width: 100px;
height: auto;
}

.truck {
width: 100px;
height: auto;
}

.pu-logo {
width: 125px;
height: auto;
float: left;
padding-right: 5em;
}

/*--- end ---*/






















/*--- nav section ---*/

ul {
  margin: 0;
  height: auto;
}

nav {
text-align: center;
z-index: 999;
background-color: #cc7aaa;
width: 100%;
padding: 4em;
}

ul.main-nav {
  text-align: left;
}

ul.main-nav ul li a {
  padding-top: 20px;
}

nav a {
color: white;
text-decoration: none;
font-size: 23px;

padding: 0 12px;
}

nav a:hover {
  color: rgb(10, 103, 155);
}



nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.call-box {
  text-align: center;
}


.svg-inline--fa.fa-w-9 {
width: 1em;
}

.svg-inline--fa.fa-w-14 {
position: initial;
visibility: visible;
width: 1em;
}



#nav-facebook.svg-inline--fa.fa-w-9 {
  font-size: 17px;
}

#nav-instagram.svg-inline--fa.fa-w-14 {
  font-size: 17px;
}





.svg-inline--fa {
color: white;
background-color: rgb(10, 103, 155);
border-radius: 22px;
padding: 7px;
}


.svg-inline--fa:hover {
background-color: #cc7aaa;
border: solid 2px white; 
border-radius: 22px;
}


.top-facebook {
position: absolute;
top: 3px;
right: 168px;
}

.top-instagram {
position: absolute;
top: 3px;
right: 210px;
}



/*--- end ---*/



















/*---- contact section ----*/

.contact-form {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-bottom: 9em;
  padding-top: 3em;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;

}

.contact-form h1 {
  font-size: 34px;
  color: #05054c;  
  padding-right: 5px;
}

.contact-form h4 {
  color: white;
  margin-top: .5em;
  margin-bottom: 2em;
}
  
form {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 55%;
}

@media screen and (max-width: 500px){
    form {
      width: 80%;
    }
  }

input[type="text"], input[type="email"], textarea {
  font-family: 'Times New Roman', sans-serif;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: solid 1px rgb(10, 103, 155);
  padding: 10px 15px;
  background: #fff;
  font-size: 12pt;
  margin-bottom: 3px;
  color: black; 
}

  
textarea {
  min-height: 150px;
  margin-bottom: 5px; 
  border-radius: 0;
}

.pu-button {
  background-color: rgb(10, 103, 155);
  font-family: 'Times New Roman', sans-serif;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  outline: 0; 
  float: right;
  border: solid 1px transparent;
  transition: all .4s linear 0s;     


}


 #contact-us h1 {
    margin-top: 4em;
  }


#contact-us {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 7em;
}

.pu-button:hover {
  color: white;
  background-color: rgb(191, 21, 51);
  transition: all .2s linear 0s;     

}




.boxx {
  display: inline-block;
  vertical-align: top;
}

.boxx h2 {
  color: rgb(191, 21, 51);
  margin: 0;
}

.boxx li {
  color: rgb(10, 103, 155);
}




/*-- end --*/
















/*--- footer sections ---*/

.main-footer {
  background-color: #cc7aaa;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3em;
}

.footer-box {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 1.5em;
  padding-bottom: 0em;
  padding-right: 1.5em;
  color: white;
}

.footer-box ul li {
  list-style-type: none;
  color: white;

}

.footer-box ul li a {
  color: #fff;
  text-decoration: none;

}

.footer-box ul li a:hover {
  color: rgb(10, 103, 155);
}

.footer-box h6 {
  color: #fff;
}

.footer-box p {
  width: 350px;
  height: auto;
  padding: 10px;
}

#bottom-footer h5 {
text-align: left;
font-size: 14px;
color: white;
width: 435px;
border: solid rgb(204, 122, 170);
}

div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #cc7aaa;
}

#bottom-footer h6 {
color: white;
font-weight: 0;
font-size: 12px;
margin: 0;
}




.top-footer {
text-align: center;
}


.top-footer p {
width: 50%;
margin: 0 auto;
}

#footer-facebook:hover {
background-color: white;
}

#footer-facebook.svg-inline--fa.fa-w-9:hover {
  color: rgb(204, 122, 170);
}

#footer-instagram:hover {
background-color: white;
}

#footer-instagram.svg-inline--fa.fa-w-14:hover {
  color: rgb(204, 122, 170);
}






/*--- end ---*/








































/*-- history section --*/

#history {
text-align: center;
padding-bottom: 4em;

}


/*-- end --*/












/*--- specialty section ---*/

#specialty {
text-align: center;
width: 100%;
height: auto;
padding: 8em 0;
/*background-image: url("/assets/pie-background3.png");*/
background-position: center;
background-attachment: scroll;
background-repeat: repeat;
background-size: cover;
background-color: white;
}





/*--- end ---*/













/*--- bar1 section ---*/

.bar1 {
/*background-image: url("/assets/rasp-cheesecake.jpeg");*/
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;
}



.bar1 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;  
}


/*--- end ---*/













/*--- bar2 section---*/

.bar2 {
/*background-image: url("/assets/mixing-dough-bkgrd.png");*/
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;


}


/*--- end ---*/













/*--- bar3 section ---*/

.bar2 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-top: 0;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;
}


/*--- end ---*/
















/*--- bar4 section ---*/


#bar4-pu {
  padding: 4em 0;
  background-color: #fff;
  margin: 0 0;
  text-align: center;
}

#bar4-pu h1 {
  color: rgb(191, 21, 51);
}

.mail-box {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  width: 400px;
  height: auto;
}


/*--- end ---*/



























































































/*--- mobile section ---*/


.test {
  display: none;
}

 

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #f8f8f8;
  min-width: 160px;
  overflow: auto;
  z-index: 0;
}

li {
  list-style-type: none;
}
.dropdown-content a {
  color: rgb(10, 103, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}


.show {
  display: none;
}

.dropbtn {
  display: none;
}


@media screen and (max-width: 910px){
  nav a {
    display: none;
  }

  .show {
    display: block;
  }

  .dropbtn {
    display: initial;
    position: absolute;
    top: 50px;
    right: 76px;

    background-color: rgb(10, 103, 155);
    color: white;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    width: 26px;
    padding: 12px;
    border-radius: 8px;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(191, 21, 51);
  }

  nav a {
    display: none;
  }

  .test {
    display: initial;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 2em;
  }

}

@media screen and (max-width: 500px){

  .jumbotron {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  }

  .cc-slideshow li span { 
  margin-top: 5em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-size: contain;
  background-position: 5% 5%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: imageAnimation 50s linear infinite 0s;
  z-index: 0; 
  }

  .cc-slideshow, .cc-slideshow:after { 
    height: 22vh;
  }


  .container p {
    font-size: 22px;
  }

  .bar1 h1 {
    font-size: 2.5em;
    margin-top: 0;
  }

  .bar2 h1 {
    font-size: 2.5em;
  }

  h1.title {
    font-size: 1.8em;
  }


  #specialty {
    padding: 3em 0 4em 0;
  }

  .mail-box {
    margin: 1em auto;
    width: auto;
  }

 
  .main-footer {
    padding-left: 0;
  }

  #hours {
    padding-left: 0;
  }

  .footer-box {
    font-size: 14px;
  }
  
}


@media screen and (max-width: 401px){
  #history {
    padding-top: 10em;
    margin-top: 5em;
  }
}

/*--- end ---*/






</style>












</head>
<body>














<!-- nav section -->

<nav>
        <ul class="main-nav">
          <li><%= link_to "Home" %></li>
          <li><%= link_to "About Us" %></li>
          <li><%= link_to "Cake Gallery" %></li>
          <li><%= link_to "Cake Flavors" %></li>
          <li><%= link_to "Pricing" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Faqs" %></li>          
          

          <li><div class="top-facebook"><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="nav-facebook" class="fab fa-facebook-f"></i></a></div></li>
          <li><div class="top-instagram"><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="nav-instagram" class="fab fa-instagram"></i></a></div></li>

        </ul>

        <div class="button" onclick="myFunction()"><%= image_tag "menu-icon.png", :class=>"dropbtn" %></div>
        <div id="myDropdown" class="dropdown-content">
          <li><%= link_to "Home" %></li>
          <li><%= link_to "About Us" %></li>
          <li><%= link_to "Cake Gallery" %></li>
          <li><%= link_to "Cake Flavors" %></li>
          <li><%= link_to "Pricing" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Faqs" %></li> 
        </div>
</nav>


<!-- end -->













<div class="container" id="history">
    
      <h1 class="title">About</h1>
      <hr>
      <div class="featured_text" id="about">
              <p>Over the years, Vickie and our staff have had the honor of creating special occasion and fantasy desserts for many celebrities not only in Las Vegas but at several of our other locations around the country. Some of our satisfied clientele include the following companies and individuals.</p>  
      </div>
</div>









<!-- bar1 section -->




<div class="bar1">
  <div class="makeup">
    <h1>Great Taste,<br> Great Pie!</h1>
  </div>
</div>




<div class="container" id="specialty">
    
      <h1 class="title">Our Specialty Is Pie!</h1>
      <hr>
      <div class="featured_text" id="about">
              <p>All of our desserts are made from scratch daily with additives or preservatives. We use only the highest quality ingredients in our products.</p>
              <i style="color:black">*Gluten sensitive products and vegan products available</i>  
      </div>
</div>







<div class="bar2">
  <div class="makeup">
    <h1>Every Batch, <br>From Scratch!</h1>
  </div>
</div>













<!-- end -->











<!-- contact section -->




<div class="container" id="contact-us">
  <div id="bar5-pu">
    <h1 class="title">Contact Us</h1>
    <form action="" method="POST">
        <input placeholder="Name:" type="text" name="name" required>
        <input placeholder="Email:" type="email" name="email" required>
        <textarea placeholder="Leave us a message:" type="text" name="message"></textarea><br>
        <input type="submit" value="Submit" class="pu-button" id="submit">
    </form>
  </div>

</div>



<!-- end -->







<!-- footer section -->






<div class="main-footer">
    

    <div class="footer-box">
      <ul class="footer_menu">
          <h3>Navigation</h3>
          <li><%= link_to "Home" %></li>
          <li><%= link_to "About Us" %></li>
          <li><%= link_to "Cake Gallery" %></li>
          <li><%= link_to "Cake Flavors" %></li>
          <li><%= link_to "Pricing" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Faqs" %></li>       </ul>       
    </div>


     <div class="footer-box">
        <ul class="footer_social_icons">
            <h3 class="social">Social</h3>
                <li><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="footer-facebook" class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="footer-instagram" class="fab fa-instagram"></i></a></li>
        </ul>
      </div>

      <div class="footer-box" id="hours">
        <ul class="footer_menu">
            <h3>Location</h3>
            <li>2465 W Craig Rd</li>
            <li> North Las Vegas, NV 89032</li>
            <br>
            <h3>Store Hours:</h3>
            <li>Monday - Friday 10am - 5:30pm</li>
            <li>Saturday 10am - 3:00pm</li>
            <li>Sunday Closed</li>
            <br>
            <li>Telephone: 702-433-7437</li>
            <li>Fax: 702-433-7432</li>
            
        </ul>
      </div>

  
        
    </div>
</div>


<div class="container" id="bottom-footer">

  <br>

  <h6>&copy; 2019 Fantasy Wedding Cakes. All Rights Reserved.</h6>
</div>


<!-- end -->





<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


 </body>
</html>


