<!DOCTYPE html>
<html lang="en">

<head>
 <!--include meta data -->
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="jquery.numscroller-1.0.js"></script>
 	<title>Gridometry</title>
  	<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">
	<%= stylesheet_link_tag "index", :media => "all" %>
	<%= javascript_include_tag "numScroller" %>

</head>
<body>


<!-- Nav Bar Section -->
<div id="nav-bar" class="fixed_nav">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :class => "alert-success" %>
	<% end %>


	<nav class="menu" id="menu">
		<%= image_tag "gridometry-logo3.png", :class => "gridometry-logo3" %>		<a href="http://www.facebook.com/gridometry" target="_blank"><div id="fb" class="fab fa-facebook-square"></div></a>
		<a href="http://www.instagram.com/www_gridometry_com/" target="_blank"><div id="ig" class="fab fa-instagram"></div></a>
		<a href="https://twitter.com/GridometryLLC" target="_blank"><div id="tw" class="fab fa-twitter"></div></a>

			<div class="fixed_nav_links">
				<ul class="active">
					<li><a href="#home">HOME</a></li>
					<li><a href="#overview">OVERVIEW</a></li>
					<li><a href="#solutions">SOLUTIONS</a></li>
					<li><a href="#projects">PROJECTS</a></li>
					<li><a href="#pricing">PRICING</a></li>
				</ul>	
			</div>
	</nav>
</div>

						
<!-- jumbotron section -->
<div class="jumbotron" id="home">
	<div class="text-box">
		<h1>Digital Solutions.<br> All-in-one <br> Place.
	</div>
	<div class="jumbotron-box">

	  <!-- Slideshow Section -->
	  <ul class="cb-slideshow">
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	  </ul>
	</div>
</div>


<!-- overview section -->
<div class="overview" id="overview">
	<div class="header">
		<h1>Beautiful Designs For Every Industry</h1>
	</div>
	<div class="box">
	</div>
	<%= image_tag "mac-traveltemplate-screengrab.png", :class => "mac-template" %>
	<%= image_tag "mac-restauranttemplate.png", :class => "mac-template" %>

		
</div>



<div class="bar2">
	<div class="bar_overlay2">
		<div class="box">
			<%= image_tag "doggy_phone.png", :class => "doggy_phone" %>
		</div>
		<div id="text-box" class="box">
			<h1>Is Your Website Mobile Ready?</h1><br>
			<h2>Scale your business with a mobile ready, fully responsive and user friendly  web platform that your customers will absolutely love! </h2>
		</div>
	</div>
</div>


<!-- projects carousel bar -->

<div id="projects" class="project-bar">
	<h1>Take a look at some of our previous projects</h1>
	
	<div class="slideshow-container">
		<div class="mySlides fade">
		  <%= image_tag "mac-pic17.png", :class => "project-test" %><br>
		  <!--<%= link_to 'Explore', sites_bodyblitz_path, :class => 'view-button-bodyblitz' %>	-->

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic18.png", :class => "project-test" %><br>
		  <!--<%= link_to 'Explore', sites_lashdolls_path, :class => 'view-button-lashdolls' %>	-->


		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic19.png", :class => "project-test" %><br>
		  <!--<%= link_to 'Explore', sites_lashdolls_path, :class => 'view-button-gbht' %>	-->

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic20.png", :class => "project-test" %><br>
		  <!--<%= link_to 'Explore', sites_vacationhomes_path, :class => 'view-button-vacationhomes' %>	-->

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic21.png", :class => "project-test" %><br>
		  <!--<%= link_to 'Explore', root_path, :class => 'view-button-vacationhomes' %>-->	

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic22.png", :class => "project-test" %><br>
		  <!--<%= link_to 'Explore', root_path, :class => 'view-button-vacationhomes' %>-->	

		</div>
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>
</div>


<div class="bar6">
	<div class="bar_overlay6">
		<h1>Digital Marketing Facts:</h1>
		<div class="box">
			<h2>Pay Per Click</h2>
			<span class='numscroller' data-min='0' data-max='90' data-delay='5' data-increment='2'></span><b>%</b><br>
			<p>Online business owners, rather than <br> 
			clicking on a purchased ad, these business <br>
			owners are more likely to use search results<br>
			from their favorite search engine.</p>
		</div>
		<div class="box">
			<h2>Social Media Marketing</h2>
			<span class='numscroller' data-min='0' data-max='80' data-delay='5' data-increment='2'></span><b>%</b><br>
			<p>Of online Marketers say they have<br> successfully obtained new business<br> using Facebook.</p>
		</div>
		<div class="box">
			<h2>Search Engine Optimization(SEO)</h2>
			<span class='numscroller' data-min='0' data-max='72' data-delay='5' data-increment='2'></span><b>%</b><br>
			<p>Of marketers agree that relevancy is the<br> single biggest factor for better SEO.</p>
		</div>
	</div>
</div>




<!-- solutions section -->

<div class="solutions" id="solutions">
	<h1>All the tools your website wants and needs</h1>

	<div class="container">
		<h2>Website Development</h2>
		<p>Custom, unique and trendy web designs for all types of businesses and all types of devices.</p>
		<div class="sm-art-box">
			<%= image_tag "grid_icon_pb.png", :class => "paint-brush" %>
		</div>
	</div>


	<div class="container">
		<h2>Digital Marketing</h2>
		<p>Scale your business by attracting more customers that increase your bottom line.</p>
		<div class="sm-art-box">
			<%= image_tag "grid_icon_i.png", :class => "small-smart-phone" %>
		</div>
	</div>


	<div class="container">
		<h2>Social Media Marketing</h2>
		<p>Synergistic creatives fused with creative processes is a sure recipe for magical marketing ideas.</p>
		<div class="sm-art-box">
			<%= image_tag "grid_icon_b.png", :class => "lightbulb" %>
		</div>
	</div>

	<div class="container">
		<h2>Site Management</h2>
		<p>Feel free to reach out to us for any technical issue or site malfunctions.</p>
		<div class="sm-art-box">
			<%= image_tag "grid_icons_t.png", :class => "screwdriver" %>
		</div>
	</div>

	<div class="container">
		<h2>Responsiveness</h2>	
		<p>Fully functional site that your visitors will find simple and user friendly.</p>
		<div class="sm-art-box">
			<%= image_tag "grid_icon_r.png", :class => "responsive" %>
		</div>
	</div>

	<div class="container" >
		<h2>Customer Support</h2>
		<p>If you need assistance with orders, refunds, or adjustments, no problem.</p>
		<div class="sm-art-box">	
			<%= image_tag "grid_icon_p.png", :class => "phone-support" %>
		</div>
	</div>

</div>


<div class="bar2" id="bar3">
	<div class="bar_overlay2">
		<div class="box">
			<%= image_tag "ipad_transparent-pic3.png", :class => "ipad-pic1" %>
		</div>
		<div id="text-box" class="box">
			<h1>Grow your business to the point of overflow!</h1><br>
			<h2>With a quality website, the right marketing strategy and a company that's ready to help, your business is sure to achieve new heights! </h2>
		</div>
	</div>
</div>

<div class="bar4">
	<div class="bar_overlay4">
		<h2>See what our past clients had to say</h2>
		<div class="carousel">
			<ul>
				<li><h1>"<i>Thank you so much! Our new site has tripled our business and attention, and fast forwarded our goals.</i>"<br><br>Flat Design Co.</h1></li>
				<li><h1>"<i>The team at Gridometry is so helpful and knowledgable, they were able to assist with all of our business needs!</i>"<br><br>Zen Space</h1></li>
				<li><h1>"<i>Absolutely Fantastic!</i>"<br><br>Macaroo</h1></li>
			</ul>
		</div>
	</div>
</div>

<div class="bar3">
	<div class="bar_overlay3">
		<div class="box">
			<h1>We'll do the designing, while you do the reclining!</h1>
		</div>
	</div>
</div>

<style>


</style>



<!-- Container (Pricing Section) -->
<div id="pricing" class="pricing">
    <h1 class="pricing-header">Plans for every kind of business</h1>
  	<div class="price-box">
        <div class="price-heading" id="essential">
          <h1>Essential <br> Package</h1>
          <h2>$89 <b>$189</b></h2>
        </div>

        <div class="price-body-top">
          <p><i class="fas fa-check-circle"></i>Unlimited Design Concepts</p>
          <p><i class="fas fa-check-circle"></i>5 Stock Images</p>
          <p><i class="fas fa-check-circle"></i>1 Page of Content</p>
          <p><i class="fas fa-check-circle"></i>5 day Project Window</p>
          <p><i class="fas fa-check-circle"></i>Basic Mobile Design</p>
          <div class="price-body-bottom" id="price-body-essential">
           	<%= link_to 'Check Out', new_essential_path, :class => 'price-button' %>	
          </div>
        </div>

        <div class="price-footer">
            <h4>Add On: $25 for 24Hr Rush Delivery</h4>
        	<div class="box">
        		<b>Share your idea?</b><br>
        	</div>
        	<div class="box">
        		<b>Want to discuss?</b><br>
        	</div>
        </div>
    </div>

    <div class="price-box">
        <div class="price-heading" id="standard-bestseller">
         	<h1>Standard <br> Package</h1>
          	<h2>$199 <b>$249</b></h2>
        </div>
        <div class="price-body-top">
          <p><i class="fas fa-check-circle"></i>Unlimited Design Concepts</p>
          <p><i class="fas fa-check-circle"></i>10 Stock Images</p>
          <p><i class="fas fa-check-circle"></i>5 Pages of Content</p>
          <p><i class="fas fa-check-circle"></i>5 Animations</p>
          <p><i class="fas fa-check-circle"></i>Contact Form</p>
          <p><i class="fas fa-check-circle"></i>72hr Project Window</p>
          <p><i class="fas fa-check-circle"></i>Basic Mobile Design</p>

          <div class="price-body-bottom" id="price-body-standard">
          	<%= link_to 'Check Out', new_standard_path, :class => 'price-button' %>
          </div>
        </div>
        <div class="price-footer">
            <h4>Add On: $25 for 24Hr Rush Delivery</h4>
        	<div class="box">
        		<b>Share your idea?</b><br>
        	</div>
        	<div class="box">
        		<b>Want to discuss?</b><br>
        	</div>
        </div>
    </div> 

    <div class="price-box">
        <div class="price-heading" id="professional">
          <h1>Premium <br> Package</h1>
          <h2>$289 <b>$389</h2>
        </div>
        <div class="price-body-top">
          <p><i class="fas fa-check-circle"></i>Unlimited Design Concepts</p>
          <p><i class="fas fa-check-circle"></i>Unlimited Stock Images</p>
          <p><i class="fas fa-check-circle"></i>Unlimited Pages of Content</p>
          <p><i class="fas fa-check-circle"></i>Unlimited Animations</p>
          <p><i class="fas fa-check-circle"></i>Contact Form</p>
          <p><i class="fas fa-check-circle"></i>Custom Mobile Design</p>
          <p><i class="fas fa-check-circle"></i>48hr Project Window</p>
          <div class="price-body-bottom" id="price-body-professional">
          	<%= link_to 'Check Out', new_premium_path, :class => 'price-button' %>	
          </div>
        </div>
        <div class="price-footer">
        	<div class="box">
        		<b>Share your idea?</b><br>
        	</div>
        	<div class="box">
        		<b>Want to discuss?</b><br>
        	</div>
        </div>
    </div> 

</div>    



<div class="contact-bar">
	<div class="box">
		<i class="fas fa-envelope"></i>
	</div>
	<div class="box">
		<h2>sales@gridometry.com</h2>
	</div>
	<div class="box">
		<a href="http://www.facebook.com/gridometry" target="_blank"><div id="fb" class="fab fa-facebook-square"></div></a>
	</div>
	<div class="box">
		<a href="http://www.instagram.com/www_gridometry_com/" target="_blank"><div id="ig" class="fab fa-instagram"></div></a>
	</div>
	<div class="box">
		<a href="http://twitter.com/GridometryLLC" target="_blank"><div id="tw" class="fab fa-twitter"></div></a>
	</div>
</div>

<div class="seal-section">
	<%= image_tag "visa-card.png", :class => "visa-card" %>
	<%= image_tag "google-card.png", :class => "google-card" %>
	<%= image_tag "master-card.png", :class => "master-card" %>
	<%= image_tag "discover-card.png", :class => "discover-card" %>
	<%= image_tag "american-card.png", :class => "american-card" %>
	<%= image_tag "jcb-card.png", :class => "jcb-card" %>
	<%= image_tag "android-card.png", :class => "android-card" %>
	<%= image_tag "apple-card.png", :class => "apple-card" %>
	<%= image_tag "paypal-card.png", :class => "paypal-card" %>
	<%= image_tag "diners-card.png", :class => "diners-card" %>
</div>


<div class="sitemap">
	<div class="box">
		<h3><i class="far fa-copyright"></i>2018 Gridometry LLC | All Rights Reserved</h3>
	</div>
	<div class="box">
		<%= image_tag "comodo_secure_seal_113x59_transp.png", :class => "comodo-seal" %>
	</div>
</div>




<script>

/*
$(".alert-success").show();
	setTimeout(function(){ 
	$(".alert-success").fadeOut(); }, 8000);
 
	
//Show window dimensions
var MEASUREMENTS_ID = 'measurements'; // abstracted-out for convenience in renaming
$("body").append('<div id="'+MEASUREMENTS_ID+'"></div>');
$("#"+MEASUREMENTS_ID).css({
    'position': 'fixed',
    'bottom': '0',
    'left': '0',
    'background-color': 'black',
    'color': 'white',
    'padding': '5px',
    'font-size': '10px',
    'opacity': '0.4'
});
    
getDimensions = function(){
    return $(window).width() + ' (' + $(document).width() + ') x ' + $(window).height() + ' (' + $(document).height() + ')';
}

$("#"+MEASUREMENTS_ID).text(getDimensions());
$(window).on("resize", function(){
    $("#"+MEASUREMENTS_ID).text(getDimensions());
});
*/

//Scroll from the top calculator
/*
var $window = $(window);
 
$(window).on('scroll', function() {
    $topOffset = $(this).scrollTop();
 
    console.log($topOffset);
});
*/

// customer review carousel section
$(document).ready(function(){
// Set the interval to be 5 seconds
	var t = setInterval(function(){
	$(".carousel ul").animate({marginLeft:-480},2000,function(){
		$(this).find("li:last").after($(this).find("li:first"));
		$(this).css({marginLeft:0});
	})
},9900);
});

// scroll nav section 
// When the user scrolls down 700px from the top of the document, slide down the navbar

$(document).ready(function(){

	window.onscroll = function(){
		scrollFunction()
	};

	function scrollFunction() {
	    if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1){
	    	$('#nav-bar').addClass('scroll_nav');
	    	$('#nav-bar').removeClass('fixed_nav');
	    	$('#menu').addClass('scroll_nav_links');	
	    	$('#menu').removeClass('fixed_nav_links');	

	    }

	    else {
	    	$('#nav-bar').addClass('fixed_nav');	    
	    	$('#nav-bar').removeClass('scroll_nav');  
	    	$('#menu').addClass('fixed_nav_links');	
	    	$('#menu').removeClass('scroll_nav_links');	

	    }

	}
});







//Scroll page to nav links 

$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".menu a").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
});



// project bar carousel section
$(document).ready(function(){
// Set the interval to be 5 seconds
	var t = setInterval(function(){
	$(".project-bar-carousel ul").animate({marginLeft:-480},2000,function(){
		$(this).find("li:last").after($(this).find("li:first"));
		$(this).css({marginLeft:0});
	})
},9900);
});

//project bar carousel buttons 


var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active-dot", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active-dot";
}



/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.fas fa-bars')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}




</script>



</body>
</html>



