<!DOCTYPE html>
<html lang="en">

<head>
 <!--include meta data -->
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<title>Gridometry</title>
  	<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">
	<%= stylesheet_link_tag "index", :media => "all" %>
	<%= javascript_include_tag "numScroller" %>

</head>
<body>


<!-- Nav Bar Section -->
<div id="nav-bar" class="fixed_nav">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :class => "alert-success" %>
	<% end %>


	<nav class="menu" id="menu">
		<%= image_tag "gridometry_logo3.png", :class => "gridometry-logo3" %>		
		<!--<a href="http://www.facebook.com/gridometry" target="_blank"><div id="fb" class="fab fa-facebook-square"></div></a>
		<a href="http://www.instagram.com/www_gridometry_com/" target="_blank"><div id="ig" class="fab fa-instagram"></div></a>
		<a href="https://twitter.com/GridometryLLC" target="_blank"><div id="tw" class="fab fa-twitter"></div></a>-->

		<div class="fixed_nav_links">
			<ul class="active">
				<li><a href="#home">HOME</a></li>
				<li><a href="#solutions">SOLUTIONS</a></li>
				<li><a href="#projects">DESIGNS</a></li>
				<!--<li><a href="#pricing">PRICING</a></li>-->
				<li><a href="#contact">CONTACT US</a></li>
			</ul>	
			<i class="fas fa-bars" onclick="openLB()"></i>
		</div>
	</nav>
</div>

						
<!-- jumbotron section -->
<div class="jumbotron" id="home">
	<div class="text-box">
		<h1>Digital Solutions.<br> All-in-one <br> Place.
	</div>
	<div class="jumbotron-box">

	  <!-- Slideshow Section -->
	  <ul class="cb-slideshow">
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	    <li>
	      <span></span>
	    </li>
	  </ul>
	</div>
</div>

<style>

.overlay {
	color: purple;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;

}

.overlay a {
	color: #0f2a51;
	text-decoration: none;
}

.overlay a:hover, a:focus {
	color: gray;
	text-decoration: none;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay ul li {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: blue;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.svg-inline--fa.fa-w-14  {
	visibility: hidden;
	position: absolute;
	right: 21px;
	top: 17px;
}

@media screen and (max-width: 740px){

	.svg-inline--fa.fa-w-14 {
		visibility: visible;
    	color: #0f2a51;
    	font-size: 25px;
	}

	.svg-inline--fa.fa-w-14:hover {
    	color: gray;
	}


}

</style>

<script>

function openLB() {
    document.getElementById("lashbasics").style.height = "100%";
}

function closeLB() {
    document.getElementById("lashbasics").hide();
}

</script>




<div id="lashbasics" class="overlay">
  <div class="overlay-content">
	<ul class="active">
		<li><a href="#home">HOME</a></li>
		<li><a href="#solutions">SOLUTIONS</a></li>
		<li><a href="#projects">DESIGNS</a></li>
		<!--<li><a href="#pricing">PRICING</a></li>-->
		<li><a href="#contact">CONTACT US</a></li>
	</ul>
  </div>
</div>





<!-- solutions section -->

<div class="solutions" id="solutions">
	<h1>Tools That Get The Job Done</h1>

	<div class="container">
		<h2>Web Development</h2>
		<div class="sm-art-box">
			<%= image_tag "grid_icons_t.png", :class => "screwdriver" %>
		</div>
		<p>Custom websites and applications for all types of businesses.</p>
		
	</div>


	<div class="container">
		<h2>Branding & Marketing</h2>
		<div class="sm-art-box">
			<%= image_tag "grid_icon_i.png", :class => "small-smart-phone" %>
		</div>
		<p>Scale your business by getting your product or service in front of more customers through social media.</p>
	</div>

	<br>

	<div class="container">
		<h2>UX & UI Design</h2>
		<div class="sm-art-box">
			<%= image_tag "grid_icon_pb.png", :class => "paint-brush" %>
		</div>
		<p>Bring your business to life with magical ideas and creative designs.</p>
	</div>

	<div class="container">
		<h2>SEO</h2>
		<div class="sm-art-box">
			<%= image_tag "search-icon.png", :class => "search-icon" %>
		</div>
		<p>Drive traffic and increase awareness around your business with the marketing strategy.</p>
	</div>
</div>



<div class="bar0">
	<div class="bar_overlay0">
		<div class="box">
			<h1>Designs that you'll love and enjoy!</h1>	
		</div>
	</div>
</div>

<!-- projects carousel bar -->

<div id="projects" class="project-bar">
	<h1>Web Designs For Every Industry</h1>
	
	<div class="slideshow-container">
		<div class="mySlides fade">
		  <%= image_tag "mac-pic27-wp.png", :class => "project-test" %><br>

		</div>
		<div class="mySlides fade">
		  <%= image_tag "mac-pic17.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic18.png", :class => "project-test" %><br>


		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic19.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic20.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic21.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic22.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic28.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-traveltemplate-screengrab.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-restauranttemplate.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic33.png", :class => "project-test" %><br>

		</div>

		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>
</div>

<div class="bar2">
	<div class="bar_overlay2">
		<div class="box">
			<h1>No matter the screen size, we've got you covered!</h1>	
		</div>
	</div>
</div>

<!-- overview section -->
<div class="overview" id="overview">
	<div class="header">
		<h1>Mobile Designs Made Ready & Responsive</h1>
	</div>
	<div class="box">
	<div id="stage">
		<a><%= image_tag "doggy_iphone.png", :class => "iphone8" %></a>
		<a><%= image_tag "forher_iphone.png", :class => "iphone8" %></a>
		<a><%= image_tag "evolv_iphone.png", :class => "iphone8" %></a>
	</div>
	</div>
</div>


<div class="bar3">
	<div class="bar_overlay3">
		<div class="box">
			<h1>We'll do the designing, while you do the reclining!</h1>
		</div>
	</div>
</div>


<div class="bar4">
	<div class="bar_overlay4">
		<h2>See What Past Clients Had To Say</h2>
		<div class="carousel">
			<ul>
				<li><h1>"<i>Thank you so much! Our new site has tripled our business and attention, and fast forwarded our goals.</i>"<br><%= image_tag "flat-design-logo.png", :class => "thumbnail" %><br>Flat Design Co.</h1></li>

				<li><h1>"<i>The team at Gridometry is so helpful and knowledgable, they were able to assist with all of our business needs!</i>"<br><%= image_tag "zen-space-logo.png", :class => "thumbnail" %><br>Zen Space</h1></li>

				<li><h1>"<i>Absolutely Fantastic!</i>"<br><%= image_tag "macaroo-logo.png", :class => "thumbnail" %><br>Macaroo</h1></li>
			</ul>
		</div>
	</div>
</div>

<!--
<div id="pricing" class="pricing">
    <h1 class="pricing-header">Plans for every kind of business</h1>
  	<div class="price-box">
        <div class="price-heading" id="essential">
          <h1>Starter <br> Package</h1>
          <h2></h2>
        </div>

        <div class="price-body-top">
          <div class="price-body-bottom" id="price-body-essential">
           	<%= link_to 'Check Out', new_essential_path, :class => 'price-button' %>	
          </div>
        </div>
    </div>
</div>
-->

<!--
    <div class="price-box">
        <div class="price-heading" id="standard-bestseller">
         	<h1>Standard <br> Package</h1>
          	<h2></h2>
        </div>
        <div class="price-body-top">
          <div class="price-body-bottom" id="price-body-standard">
          	<%= link_to 'Check Out', new_standard_path, :class => 'price-button' %>
          </div>
        </div>
        
    </div> 

    <div class="price-box">
        <div class="price-heading" id="professional">
          <h1>Professional <br> Package</h1>
          <h2></h2>
        </div>
        <div class="price-body-top">
          	<%= link_to 'Check Out', new_premium_path, :class => 'price-button' %>	
          </div>
        </div>
    </div> 

</div> -->   

<div class="contact-form" id="contact">
	<h1>Contact Us</h1>
	<hr>
	<h4>We'd love to hear from you!</h4>

	<form action="https://formspree.io/gridometry@gmail.com" method="POST">
	    <input placeholder="What's your name?" type="text" name="name" required>
	    <input placeholder="Got an email?" type="email" name="email" required>
	    <textarea placeholder="How can we help?" type="text" name="message"></textarea><br>
	    <input type="submit" value="Submit" class="button" id="submit">
	</form>
</div>

<div class="footer">
	

	<div class="seal-section">
		<%= image_tag "visa-card.png", :class => "visa-card" %>
		<%= image_tag "google-card.png", :class => "google-card" %>
		<%= image_tag "master-card.png", :class => "master-card" %>
		<%= image_tag "discover-card.png", :class => "discover-card" %>
		<%= image_tag "american-card.png", :class => "american-card" %>
		<%= image_tag "jcb-card.png", :class => "jcb-card" %>
		<%= image_tag "android-card.png", :class => "android-card" %>
		<%= image_tag "apple-card.png", :class => "apple-card" %>
		<%= image_tag "paypal-card.png", :class => "paypal-card" %>
		<%= image_tag "diners-card.png", :class => "diners-card" %>
	</div>


	<div class="sitemap">
		<div class="box">
			<h3><i class="far fa-copyright"></i>2019 Gridometry LLC | All Rights Reserved</h3>
		</div>
		<div class="box">
			<%= image_tag "comodo_secure_seal_113x59_transp.png", :class => "comodo-seal" %>
		</div>
	</div>

</div>





<script>


  //iphone8 slideshow

  window.addEventListener("DOMContentLoaded", function(e) {

    var stage = document.getElementById("stage");
    var fadeComplete = function(e) { stage.appendChild(arr[0]); };
    var arr = stage.getElementsByTagName("a");
    for(var i=0; i < arr.length; i++) {
      arr[i].addEventListener("animationend", fadeComplete, false);
    }

  }, false);


/*
$(".alert-success").show();
	setTimeout(function(){ 
	$(".alert-success").fadeOut(); }, 8000);
*/ 
	
/*
//Show window dimensions
var MEASUREMENTS_ID = 'measurements'; // abstracted-out for convenience in renaming
$("body").append('<div id="'+MEASUREMENTS_ID+'"></div>');
$("#"+MEASUREMENTS_ID).css({
    'position': 'fixed',
    'bottom': '0',
    'left': '0',
    'background-color': 'black',
    'color': 'white',
    'padding': '5px',
    'font-size': '10px',
    'opacity': '0.4'
});
    
getDimensions = function(){
    return $(window).width() + ' (' + $(document).width() + ') x ' + $(window).height() + ' (' + $(document).height() + ')';
}
$("#"+MEASUREMENTS_ID).text(getDimensions());
$(window).on("resize", function(){
    $("#"+MEASUREMENTS_ID).text(getDimensions());
});
*/



//Scroll from the top calculator
/*
var $window = $(window);
 
$(window).on('scroll', function() {
    $topOffset = $(this).scrollTop();
 
    console.log($topOffset);
});
*/
// customer review carousel section
$(document).ready(function(){
// Set the interval to be 5 seconds
	var t = setInterval(function(){
	$(".carousel ul").animate({marginLeft:-480},2000,function(){
		$(this).find("li:last").after($(this).find("li:first"));
		$(this).css({marginLeft:0});
	})
},9900);
});
// scroll nav section 
// When the user scrolls down 700px from the top of the document, slide down the navbar
$(document).ready(function(){
	window.onscroll = function(){
		scrollFunction()
	};
	function scrollFunction() {
	    if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1){
	    	$('#nav-bar').addClass('scroll_nav');
	    	$('#nav-bar').removeClass('fixed_nav');
	    	$('#menu').addClass('scroll_nav_links');	
	    	$('#menu').removeClass('fixed_nav_links');	
	    }
	    else {
	    	$('#nav-bar').addClass('fixed_nav');	    
	    	$('#nav-bar').removeClass('scroll_nav');  
	    	$('#menu').addClass('fixed_nav_links');	
	    	$('#menu').removeClass('scroll_nav_links');	
	    }
	}
});


//Scroll page to nav links 
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".menu a").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
});
// project bar carousel section
$(document).ready(function(){
// Set the interval to be 5 seconds
	var t = setInterval(function(){
	$(".project-bar-carousel ul").animate({marginLeft:-480},2000,function(){
		$(this).find("li:last").after($(this).find("li:first"));
		$(this).css({marginLeft:0});
	})
},9900);
});


//project bar carousel buttons 
var slideIndex = 1;
showSlides(slideIndex);
function plusSlides(n) {
  showSlides(slideIndex += n);
}
function currentSlide(n) {
  showSlides(slideIndex = n);
}
function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active-dot", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active-dot";
}


/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.fas fa-bars')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>



</body>
</html>
