
<!DOCTYPE html>
<html lang="en">
  <head>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pies Unlimited</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">


<style>

/*-- body section --*/

body {
margin: 0 !important;
padding: 0px;

}

hr {
border: solid 1px rgb(5, 5, 76);
width: 70px;
border-width: 1px 0 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 3em;
}


.featured_text {
text-align: center;
}


.container {
width: 100% !important;
}



.container p {
font-size: 30px;

padding-left: 1em;
padding-right: 1em;
max-width: 600px;
width: 75%;
margin-right: auto;
margin-left: auto;
color: rgb(10, 103, 155);
}

h1.title {
color: rgb(191, 21, 51);
margin-bottom: 1em;
margin-left: 3em;
margin-right: 3em;
font-size: 2.5em;
}

h2.title {
color: rgb(10, 103, 155);
margin-top: 0 !important;
}



/*--- end ---*/





/*--- footer sections ---*/

.football {
  background-color: #bf1533;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3em;
}

.footsie {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 1.5em;
  padding-bottom: 0em;
  padding-right: 1.5em;
  color: white;
}

.footsie ul li {
  list-style-type: none;
  color: white;

}

.footsie ul li a {
  color: #fff;
  text-decoration: none;

}

.footsie ul li a:hover {
  color: rgb(10, 103, 155);
}

.footsie h6 {
  color: #fff;
}

.footsie p {
  width: 350px;
  height: auto;
  padding: 10px;
}

#bottom-footer h5 {
text-align: left;
font-size: 14px;
color: white;
width: 435px;
border: solid red;
}

div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}

#bottom-footer h6 {
color: white;
font-size: 15px;
}


div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}

#bottom-footer h6 {
color: white;
font-size: 15px;
margin-bottom: 0;
}

.top-footer {
text-align: center;
}

.top-footer .pie-icon {
text-align: center;
}

.top-footer p {
width: 50%;
margin: 0 auto;
}

#footer-facebook:hover {
background-color: white;
}

#footer-facebook.svg-inline--fa.fa-w-9:hover {
  color: red;
}

#footer-instagram:hover {
background-color: white;
}

#footer-instagram.svg-inline--fa.fa-w-14:hover {
  color: red;
}




/*--- end ---*/


/*--- gift section ---*/
#gift-box {
  border: 3px solid rgb(85, 46, 31);
  background-color: rgb(255, 238, 214);
  width: auto;
  height: auto;
}

h6.gift-header {
  color: rgb(191, 21, 51);
}

#hours {
padding-left: 3em;
}

.sister-site {
width: 210px;
padding-left: 0;
}

ul.sister-site li a {
color: white;
transition: all .2s linear 0s;     
}

ul.sister-site li a:hover {
color: rgb(10, 103, 155);
transition: all .2s linear 0s;     

}


/*--- end ---*/




/*--- nav section ---*/

ul {
  margin: 0;
  height: auto;
}

nav {
text-align: center;
z-index: 999;
position: sticky;
top: 0;

background-color: white;
width: 100%;
height: auto;  
}

ul.main-nav {
  text-align: left;
}

ul.main-nav ul li a {
  padding-top: 20px;
}

nav a {
color: rgb(10, 103, 155);
text-decoration: none;
font-size: 23px;

padding: 0 12px;
}

nav a:hover {
  color: rgb(191, 21, 51);
}



.pu-nav-bar ul li  {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.call-box {
  text-align: center;
}


.call-box a {
color: rgb(191, 21, 51);
font-size: 16px;
position: absolute;
top: 0;
right: 45px;
}

.call-box a:hover {
  color: rgb(10, 103, 155);
}

.svg-inline--fa.fa-w-9 {
width: 1em;
}

.svg-inline--fa.fa-w-14 {
position: initial;
visibility: visible;
width: 1em;
}



#nav-facebook.svg-inline--fa.fa-w-9 {
  font-size: 17px;
}

#nav-instagram.svg-inline--fa.fa-w-14 {
  font-size: 17px;
}





.svg-inline--fa {
color: white;
background-color: rgb(10, 103, 155);
border-radius: 22px;
padding: 7px;
}

.svg-inline--fa:hover {
background-color: rgb(191, 21, 51); 
border-radius: 22px;
padding: 7px;
}


/*--- end ---*/





/*----- Jumbotron/Slideshow Section --------*/

.jumbotron {
width: 100%;
height: 75vh;
overflow: hidden;
background-color: transparent;
}



.cc-slideshow, .cc-slideshow:after { 
list-style-type: none;
position: static;
width: 100%;
height: 100vh;
top: 0px;
left: 0px;
z-index: 0;
margin: 0;
}

.cc-slideshow li span { 
margin-top: 0;
width: 100%;
height: 100vh;
position: absolute;
top: 0px;
right: 0px;
background-size: cover;
background-position: 5% 5%;
background-repeat: no-repeat;
opacity: 0;
animation: imageAnimation 50s linear infinite 0s; 
}



@media screen and (max-width: 550px){
.cc-slideshow li span {
width: 150%;
}
}



.cc-slideshow li:nth-child(1) span { 
background-image: url("/assets/pu-slideshow-bkgrd1"); 
}
.cc-slideshow li:nth-child(2) span { 
background-image: url("/assets/pu-slideshow-bkgrd2"); 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) span { 
background-image: url("/assets/pu-slideshow-bkgrd3"); 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) span { 
background-image: url("/assets/pu-slideshow-bkgrd4"); 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) span { 
background-image: url("/assets/pu-slideshow-bkgrd7"); 
animation-delay: 40s; 
}


 
.cc-slideshow li:nth-child(2) div { 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) div { 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) div { 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) div { 
animation-delay: 40s; 
}


@keyframes imageAnimation { 
0% { opacity: 0; animation-timing-function: ease-in; }
8% { opacity: .70; animation-timing-function: ease-out; }
17% { opacity: .90 }
25% { opacity: 0 }
100% { opacity: 0 }
}

/*-- end --*/






/*-- history section --*/

#history {
text-align: center;
padding-top: 8em;
padding-bottom: 4em;

}


/*-- end --*/



/*--- specialty section ---*/

#specialty {
text-align: center;
width: 100%;
height: auto;
padding: 8em 0;
/*background-image: url("/assets/pie-background3.png");*/
background-position: center;
background-attachment: scroll;
background-repeat: repeat;
background-size: cover;
background-color: white;




}





/*--- end ---*/


/*--- bar1 section ---*/

.bar1 {
background-image: url("/assets/rasp-cheesecake.jpeg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;
}



.bar1 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;  
}


/*--- end ---*/



/*--- bar2 section---*/

.bar2 {
background-image: url("/assets/plain-cheesecake.jpg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;


}


/*--- end ---*/



/*--- bar3 section ---*/

.bar2 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-top: 0;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;
}








/*--- end ---*/



/*--- bar4 section ---*/


#bar4-pu {
  padding: 4em 0;
  background-color: #fff;
  margin: 0 0;
  text-align: center;
}

#bar4-pu h1 {
  color: rgb(191, 21, 51);
}

.mail-box {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  width: 40%;
  height: auto;
}


/*--- end ---*/










/*--- fundraiser section ---*/

.fundraiser {
  text-align: center;
  padding: 0;
  margin-bottom: 8em;

}


.fundraiser .title {
  text-align: center;
}

.fundraiser ul li {
font-family: 'Crimson Text', serif;


  text-align: center;
  color: rgb(10, 103, 155);
  list-style-type: none;
  padding-bottom: 20px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;

  font-size: 19px;


}

.fundraiser h2 {
  padding: 0 5em;
  color: rgb(10, 103, 155);
}

.fundraiser p {
  padding: 0 6em;
  color: rgb(10, 103, 155);
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.fundraiser i {
  color: rgb(10, 103, 155);
}

/*--- end ---*/



/*--- gift packaging ---*/


.gift-packages h2 {
  margin-bottom: 0;
}

.gift-packages h1 {
  color: white;
}


.package-box {
  color: white;
  overflow: hidden;
}

.package-box h5 {
  font-size: 1.2em;
}

.chalk-board {
  width: 100%;
  max-width: 800px;
  height: auto;
  overflow: hidden;
}



.featured_text i {
font-size: 12px;
padding-top: 0;
}



.image-container {
text-align: center;
}



/*--- map section ---*/

#map {
height: 300px;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}


/*--- end ---*/






/*---- contact section ----*/

.contact-form {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-bottom: 9em;
  padding-top: 3em;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;

}

.contact-form h1 {
  font-size: 34px;
  color: #05054c;  
  padding-right: 5px;
}

.contact-form h4 {
  color: white;
  margin-top: .5em;
  margin-bottom: 2em;
}
  
form {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 55%;
}

@media screen and (max-width: 500px){
    form {
      width: 80%;
    }
  }

input[type="text"], input[type="email"], textarea {
  font-family: 'Times New Roman', sans-serif;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: solid 1px rgb(10, 103, 155);
  padding: 10px 15px;
  background: #fff;
  font-size: 12pt;
  margin-bottom: 3px;
  color: black; 
}

  
textarea {
  min-height: 150px;
  margin-bottom: 5px; 
  border-radius: 0;
}

.pu-button {
  background-color: rgb(10, 103, 155);
  font-family: 'Times New Roman', sans-serif;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  outline: 0; 
  float: right;
  border: solid 1px transparent;
  transition: all .4s linear 0s;     


}


#contact-us {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 7em;
}

.pu-button:hover {
  color: white;
  background-color: rgb(191, 21, 51);
  transition: all .2s linear 0s;     

}


#map {
width: 450px;  /* The width is the width of the web page */
height: 300px;  /* The height is 400 pixels */
}

.map-container {
  text-align: center;
  margin-bottom: 3em;

}

.boxx {
  display: inline-block;
  vertical-align: top;
}

.boxx h2 {
  color: rgb(191, 21, 51);
}

.boxx li {
  color: rgb(10, 103, 155);
}

.map-container ul li {
  font-size: 20px;
  list-style-type: none;
}



/*-- end --*/












/*-- logo's/icons section --*/

.car {
width: 100px;
height: auto;
}

.truck {
width: 100px;
height: auto;
}

.pu-logo {
width: 125px;
height: auto;
float: left;
padding-right: 5em;
}

/*--- end ---*/



/*--- product list ---*/
.product-list-container h1 {
  text-align: center;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(10, 103, 155);
  color: white;
}

/*--- end --*/

.top-facebook {
position: absolute;
top: 3px;
right: 168px;
}

.top-instagram {
position: absolute;
top: 3px;
right: 210px;
}

</style>



</head>
<body>



<nav>
  <div class="pu-nav-bar">
        <ul class="main-nav">
          <li><%= image_tag "pu-logo4.png", :class => "pu-logo" %></li>
          <li><%= link_to "Home", sites_piesunlimited_path %></li>
          <li><%= link_to "Product List", sites_productlist_path %></li>
          <li><%= link_to "Gift Packages", sites_giftpackages_path %></li>
          <li><%= link_to "Fundraising", sites_fundraising_path %></li>
          <li><%= link_to "Contact Us", sites_contactus_path %></li>
          <li><div class="top-facebook"><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="nav-facebook" class="fab fa-facebook-f"></i></a></div></li>
          <li><div class="top-instagram"><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="nav-instagram" class="fab fa-instagram"></i></a></div></li>
          <li><div class="call-box"><a href="tel:+17024337437">Call Today! <br>+1-702-433-PIES</a></div></li>
        </ul>        
  </div>
</nav>

          
       


<div class="container">
  <div class="jumbotron" id="home">
    <div class="jumbotron-box">
      <!-- Slideshow Section -->
      <ul class="cc-slideshow">
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
      </ul>
    </div>
  </div>
</div>





<div class="container" id="history">
    
      <h1 class="title">Our History</h1>
      <hr>
      <div class="featured_text" id="about">
              <p>A Las Vegas Tradition Since 2002, Pies Unlimited</b> has been serving up delicious treats in Las Vegas <strong>for over 17 years</strong>. We are proud to be a <strong>family-owned</strong> local business in a city we love.</p>  
      </div>
</div>





<!-- bar1 section -->




<div class="bar1">
  <div class="makeup">
    <h1>Great Taste,<br> Great Pie!</h1>
  </div>
</div>




<div class="container" id="specialty">
    
      <h1 class="title">Our Specialty Is Pie!</h1>
      <hr>
      <div class="featured_text" id="about">
              <p>All of our desserts are made from scratch daily without the use of additives or preservatives. We use only the highest quality ingredients in our products.</p>
              <i style="color:black">*Gluten sensitive products and vegan products available</i>  
      </div>
</div>







<div class="bar2">
  <div class="makeup">
    <h1>Every Batch, <br>From Scratch!</h1>
  </div>
</div>










<div class="container" id="bar4-pu">

      <h1 class="title">Service That's Simple!</h1>
      
      <hr>

      <div class="mail-box">
            <h2 style="color:rgb(10, 103, 155)" class="title">Pick Up?</h2>

            <%= image_tag "car-pickup.png", :class => "car" %>
            
            <div class="featured_text ">
              <p>If you're in the Las Vegas area please feel free to stop in for a visit. Keep in mind we have a limited stock on hand.<br>
              <i style="color:black">*Pre-orders welcome</i></p>  
            </div>

      </div>
      <div class="mail-box">
            <h2 style="color:rgb(10, 103, 155)" class="title">Delivery?</h2>

            <%= image_tag "pu-delivery-truck.png", :class => "truck" %>
            
            <div class="featured_text ">
              <p>We deliver to residential locations as well as commercial locations Monday thru Friday.
              <br>
              <i style="color:black">*Las Vegas and Henderson deliveries only</i>
              <i style="color:black">*Delivery fee applies</i><p>
            </div>

            <!--<div class="image-container">
              <%= image_tag "pies-unlimited-delivery-truck.png", :class => "delivery-truck" %>   
            </div>-->
      </div>
</div>




<!-- end -->









<style>

.bottom-pic {
  position: relative;
  margin-bottom: -4px;
}

.bottom-pie-pic {
  width: 100%;
  height: auto;
}



</style>

<div class="bottom-pic">
  <%= image_tag "bottom-pie-pic.jpg", :class => "bottom-pie-pic" %>
</div>











<!-- footer section -->



<div class="football">
    <div class="footsie">
      <ul class="footer_menu">
      <h3>Press Mentions</h3>
          <li>National Pie Day NEWS 13</li>
          <li>Review Journal</li>          
          <li>In Business Las Vegas</li>
          <li>Summerlin South View</li>
          <li>Summerlin View</li>
      </ul>
    </div>

    <div class="footsie">
      <ul class="footer_menu">
          <h3>Navigation</h3>
          <li><%= link_to "Home", sites_piesunlimited_path %></li>
          <li><%= link_to "Product List", sites_productlist_path %></li>
          <li><%= link_to "Gift Packages", sites_giftpackages_path %></li>
          <li><%= link_to "Fundraising", sites_fundraising_path %></li>
          <li><%= link_to "Contact Us", sites_contactus_path %></li>
      </ul>       
    </div>


     <div class="footsie">
        <ul class="footer_social_icons">
            <h3 class="social">Social</h3>
                <li><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="footer-facebook" class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="footer-instagram" class="fab fa-instagram"></i></a></li>

                <!--<li><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><%= image_tag "facebook-icon.png", :class => "social-logo-fb" %></a></li>
                <li><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><%= image_tag "instagram-icon.png", :class => "social-logo-ig" %></a></li>-->
        </ul>
      </div>

      <div class="footsie" id="hours">
        <ul class="footer_menu">
            <h3>Location</h3>
            <li>2465 W Craig Rd</li>
            <li> North Las Vegas, NV 89032</li>
            <br>
            <h3>Store Hours:</h3>
            <li>Monday - Friday 10am - 5:30pm</li>
            <li>Saturday 10am - 3:00pm</li>
            <li>Sunday Closed</li>
            <br>
            <li>Telephone: 702-433-7437</li>
            <li>Fax: 702-433-7432</li>
            
        </ul>
      </div>

  
        
    </div>
</div>


<div class="container" id="bottom-footer">

  <br>

  <h6>&copy; 2019 Pies Unlimited. All Rights Reserved.</h6>
</div>


<!-- end -->



 </body>
</html>















<!-- end -->