

<!-- projects carousel bar -->



<div id="projects" class="project-bar">
	<h1>Web Designs For Every Industry</h1>
	
	<div class="slideshow-container">
		<div class="mySlides fade">
		  <%= image_tag "mac-pic27-wp.png", :class => "project-test" %><br>

		</div>
		<div class="mySlides fade">
		  <%= image_tag "mac-pic17.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic18.png", :class => "project-test" %><br>


		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic19.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic20.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic21.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic22.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic28.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-traveltemplate-screengrab.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-restauranttemplate.png", :class => "project-test" %><br>

		</div>

		<div class="mySlides fade">
		  <%= image_tag "mac-pic33.png", :class => "project-test" %><br>

		</div>

		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>
</div>



<!-- end -->
















<!-- mobile design section -->
<div class="overview" id="overview">
	<div class="header">
		<h1>Mobile Designs Made Ready & Responsive</h1>
	</div>
	<div class="box">
	<div id="stage">
		<a><%= image_tag "doggy_iphone.png", :class => "iphone8" %></a>
		<a><%= image_tag "forher_iphone.png", :class => "iphone8" %></a>
		<a><%= image_tag "evolv_iphone.png", :class => "iphone8" %></a>
	</div>
	</div>
</div>

<!-- end -->

