
<!DOCTYPE html>
<html lang="en">
  <head>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pies Unlimited</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">


<style>

/*-- body section --*/

body {
margin: 0 !important;
padding: 0px;

}

hr {
border: solid 1px rgb(5, 5, 76);
width: 70px;
border-width: 1px 0 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 3em;
}


.featured_text {
text-align: center;
}


.container {
width: 100% !important;
}



.container p {
font-size: 18px;
padding-left: 1em;
padding-right: 1em;
max-width: 600px;
width: 75%;
margin-right: auto;
margin-left: auto;
color: rgb(10, 103, 155);
}

h1.title {
color: rgb(191, 21, 51);
margin-bottom: 1em;
margin-left: 3em;
margin-right: 3em;
font-size: 2.5em;
}

h2.title {
color: rgb(10, 103, 155);
margin-top: 0 !important;
}



/*--- end ---*/





/*--- footer sections ---*/

.football {
  background-color: #bf1533;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 3em;
}

.footsie {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 1.5em;
  padding-bottom: 0em;
  padding-right: 1.5em;
  color: white;
}

.footsie ul li {
  list-style-type: none;
  color: white;

}

.footsie ul li a {
  color: #fff;
  text-decoration: none;

}

.footsie ul li a:hover {
  color: rgb(10, 103, 155);
}

.footsie h6 {
  color: #fff;
}

.footsie p {
  width: 350px;
  height: auto;
  padding: 10px;
}

#bottom-footer h5 {
text-align: left;
font-size: 14px;
color: white;
width: 435px;
border: solid red;
}

div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}

#bottom-footer h6 {
color: white;
font-size: 15px;
}


div.footer {
background-color: #bf1533;
}  

div#footer {
background-color: #bf1533;
}


#bottom-footer {
text-align: center;
background-color: #bf1533;
}

#bottom-footer h6 {
color: white;
font-size: 15px;
margin-bottom: 0;
}

.top-footer {
text-align: center;
}

.top-footer .pie-icon {
text-align: center;
}

.top-footer p {
width: 50%;
margin: 0 auto;
}

#footer-facebook:hover {
background-color: white;
}

#footer-facebook.svg-inline--fa.fa-w-9:hover {
  color: red;
}

#footer-instagram:hover {
background-color: white;
}

#footer-instagram.svg-inline--fa.fa-w-14:hover {
  color: red;
}




/*--- end ---*/


/*--- gift section ---*/
#gift-box {
  border: 3px solid rgb(85, 46, 31);
  background-color: rgb(255, 238, 214);
  width: auto;
  height: auto;
}

h6.gift-header {
  color: rgb(191, 21, 51);
}

#hours {
padding-left: 3em;
}

.sister-site {
width: 210px;
padding-left: 0;
}

ul.sister-site li a {
color: white;
transition: all .2s linear 0s;     
}

ul.sister-site li a:hover {
color: rgb(10, 103, 155);
transition: all .2s linear 0s;     

}


/*--- end ---*/




/*--- nav section ---*/

ul {
  margin: 0;
  height: auto;
}

nav {
text-align: center;
z-index: 999;
position: sticky;
top: 0;

background-color: white;
width: 100%;
height: auto;  
}

ul.main-nav {
  text-align: left;
}

ul.main-nav ul li a {
  padding-top: 20px;
}

nav a {
color: rgb(10, 103, 155);
text-decoration: none;
font-size: 23px;

padding: 0 12px;
}

nav a:hover {
  color: rgb(191, 21, 51);
}



.pu-nav-bar ul li  {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}


.call-box a {
color: rgb(191, 21, 51);
font-size: 15px;
}

.call-box a:hover {
  color: rgb(10, 103, 155);
}

.svg-inline--fa.fa-w-9 {
width: 1em;
}

.svg-inline--fa.fa-w-14 {
position: initial;
visibility: visible;
width: 1em;
}



#nav-facebook.svg-inline--fa.fa-w-9 {
  font-size: 17px;
}

#nav-instagram.svg-inline--fa.fa-w-14 {
  font-size: 17px;
}





.svg-inline--fa {
color: white;
background-color: rgb(10, 103, 155);
border-radius: 22px;
padding: 7px;
}

.svg-inline--fa:hover {
background-color: rgb(191, 21, 51); 
border-radius: 22px;
padding: 7px;
}


/*--- end ---*/





/*----- Jumbotron/Slideshow Section --------*/

.jumbotron {
width: 100%;
height: 75vh;
overflow: hidden;
background-color: transparent;
}



.cc-slideshow, .cc-slideshow:after { 
list-style-type: none;
position: static;
width: 100%;
height: 100vh;
top: 0px;
left: 0px;
z-index: 0;
margin: 0;
}

.cc-slideshow li span { 
margin-top: 0;
width: 100%;
height: 100vh;
position: absolute;
top: 0px;
right: 0px;
background-size: cover;
background-position: 5% 5%;
background-repeat: no-repeat;
opacity: 0;
animation: imageAnimation 60s linear infinite 0s; 
}



@media screen and (max-width: 550px){
.cc-slideshow li span {
width: 150%;
}
}



.cc-slideshow li:nth-child(1) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 

}
.cc-slideshow li:nth-child(2) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 40s; 
}
.cc-slideshow li:nth-child(6) span { 
background-image: url("https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?cs=srgb&dl=cake-chocolate-chocolate-cake-132694.jpg&fm=jpg"); 
animation-delay: 50s; 
}


 
.cc-slideshow li:nth-child(2) div { 
animation-delay: 10s; 
}
.cc-slideshow li:nth-child(3) div { 
animation-delay: 20s; 
}
.cc-slideshow li:nth-child(4) div { 
animation-delay: 30s; 
}
.cc-slideshow li:nth-child(5) div { 
animation-delay: 40s; 
}
.cc-slideshow li:nth-child(6) div { 
animation-delay: 50s; 
}

@keyframes imageAnimation { 
0% { opacity: 0; animation-timing-function: ease-in; }
8% { opacity: .70; animation-timing-function: ease-out; }
17% { opacity: .90 }
25% { opacity: 0 }
100% { opacity: 0 }
}

/*-- end --*/






/*-- history section --*/

#history {
text-align: center;
padding-top: 8em;
padding-bottom: 4em;

}

#history p {
font-size: 30px;
}


/*-- end --*/




/*--- bar1 section ---*/

.bar1 {
background-image: url("/assets/rasp-cheesecake.jpeg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;
}



.bar1 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;  
}


/*--- end ---*/



/*--- bar2 section---*/

.img-bar2 {
background-image: url("/assets/rasp-cheesecake.jpeg");
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
text-align: center;


}


/*--- end ---*/








/*--- pie/main-boxi section ---*/

.main-boxi {
text-align: center;
width: 100%;
height: auto;
padding: 8em 0;
background-image: url("/assets/pie-background2.png");
background-position: center;
background-attachment: scroll;
background-repeat: repeat;
background-size: cover;
background-color: white;




}

.main-boxi p {
width: auto;
height: auto;
font-size: 24px;
color: rgb(10, 103, 155);
}

.boxi {
display: inline-block;
margin: 0 0;
vertical-align: top;
width: 40%;
height: auto;
max-width: 300px;
min-width: 250px;
}

.all-text-boxi {
width: auto;
height: auto;
}



.main-boxi h1 {
font-size: 34px;
}

#pie-container {
margin: 3em 0;
text-align: center;
}

.pie-boxes {
text-align: center;
}

.pie-box {
display: inline-block;
}



/*--- end ---*/


/*--- bar3 section ---*/

.img-bar2 h1 {
padding-top: 2em;
padding-bottom: 2em;
margin-top: 0;
margin-bottom: 0;
font-size: 4.5em;
color: white;
width: auto;
text-shadow: 3px 0 13px #000000ad;
}








/*--- end ---*/



/*--- bar4 section ---*/


#bar4-pu {
  padding: 4em 0;
  background-color: #fff;
  margin: 0 0;
  text-align: center;
}

#bar4-pu h1 {
  color: rgb(191, 21, 51);
}

.mail-box {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  width: 40%;
  height: auto;
}


/*--- end ---*/










/*--- fundraiser section ---*/

.fundraiser {
  text-align: center;
  padding: 0 2em;
  margin-bottom: 8em;
}


.fundraiser .title {
  text-align: center;
}

.fundraiser ol li {
  text-align: left;
  color: rgb(10, 103, 155);
}

.fundraiser h2 {
  padding: 0 5em;
  color: rgb(10, 103, 155);
}

.fundraiser p {
  padding: 0 6em;
  color: rgb(10, 103, 155);
}

.fundraiser i {
  color: rgb(10, 103, 155);
}

/*--- end ---*/



/*--- gift packaging ---*/

.gift-packages {
  
}

.gift-packages h2 {
  margin-bottom: 0;
}

.gift-packages h1 {
  color: white;
}


.package-box {
  color: white;
  overflow: hidden;
}

.package-box h5 {
  font-size: 1.2em;
}

.chalk-board {
  width: 100%;
  max-width: 800px;
  height: auto;
  overflow: hidden;
}



.featured_text i {
font-size: 12px;
padding-top: 0;
}



.image-container {
text-align: center;
}



/*--- map section ---*/

#map {
height: 300px;  /* The height is 400 pixels */
width: 100%;  /* The width is the width of the web page */
}


/*--- end ---*/






/*---- contact section ----*/

.contact-form {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-bottom: 9em;
  padding-top: 3em;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;

}

.contact-form h1 {
  font-size: 34px;
  color: #05054c;  
  padding-right: 5px;
}

.contact-form h4 {
  color: white;
  margin-top: .5em;
  margin-bottom: 2em;
}
  
form {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 55%;
}

@media screen and (max-width: 500px){
    form {
      width: 80%;
    }
  }

input[type="text"], input[type="email"], textarea {
  font-family: 'Times New Roman', sans-serif;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: solid 1px rgb(10, 103, 155);
  padding: 10px 15px;
  background: #fff;
  font-size: 12pt;
  margin-bottom: 3px;
  color: black; 
}

  
textarea {
  min-height: 150px;
  margin-bottom: 5px; 
  border-radius: 0;
}

.pu-button {
  background-color: rgb(10, 103, 155);
  font-family: 'Times New Roman', sans-serif;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  outline: 0; 
  float: right;
  border: solid 1px transparent;
  transition: all .4s linear 0s;     


}


#contact-us {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 7em;
}

.pu-button:hover {
  color: white;
  background-color: rgb(191, 21, 51);
  transition: all .2s linear 0s;     

}


#map {
width: 450px;  /* The width is the width of the web page */
height: 300px;  /* The height is 400 pixels */
}

.map-container {
  text-align: center;
  margin-bottom: 3em;

}

.boxx {
  display: inline-block;
  vertical-align: top;
}

.boxx h2 {
  color: rgb(191, 21, 51);
}

.boxx li {
  color: rgb(10, 103, 155);
}

.map-container ul li {
  font-size: 20px;
  list-style-type: none;
}



/*-- end --*/












/*-- logo's/icons section --*/

.car {
width: 100px;
height: auto;
}

.truck {
width: 100px;
height: auto;
}

.pu-logo {
width: 125px;
height: auto;
float: left;
padding-right: 5em;
}

/*--- end ---*/



/*--- product list ---*/

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(10, 103, 155);
  color: white;
}

/*--- end --*/


</style>


</head>
<body>








<nav>
  <div class="pu-nav-bar">

        
        <ul class="main-nav">
          <li><%= image_tag "pu-logo4.png", :class => "pu-logo" %></li>
          <li><%= link_to "Home", sites_piesunlimited_path %></li>
          <li><%= link_to "Product List", sites_productlist_path %></li>
          <li><%= link_to "Fundraising", sites_fundraising_path %></li>
          <li><%= link_to "Contact Us", sites_contactus_path %></li>
          <li><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="nav-facebook" class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="nav-instagram" class="fab fa-instagram"></i></a></li>
          <li><div class="call-box"><a href="tel:+17024337437">Call Today! <br>+1-702-433-PIES</a></div></li>
        </ul>        
  </div>
</nav>

          
       


















<!-- product list section -->

<h1>Product List</h1>



<!-- 4" mini pies section -->

<table id="customers">
  <tr>
    <th>4" Mini Pies</th>
    <p>The Perfect On-the-Go Dessert!</p>
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>
  <tr>
    <td>Apple</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Blueberry</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Boysenberry</td>
    <td>$3.10</td>
    <td>$3.35</td>
  </tr>
  <tr>
    <td>Cherry</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Peach</td>
    <td>$3.10</td>
    <td>$3.35</td>
  </tr>
  <tr>
    <td>Pineapple</td>
    <td>$3.10</td>
    <td>$3.35</td>
  </tr>
  <tr>
    <td>Rhubarb</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Raspberry</td>
    <td>$3.10</td>
    <td>$3.35</td>
  </tr>
  <tr>
    <td>Strawberry</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Strawberry Rhubarb</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>




  <tr>
    <td>Banana Cream</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Chocolate Cream</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Coconut Cream</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>German Chocolate Cream</td>
    <td>$3.10</td>
    <td>$3.35</td>
  </tr>
  <tr>
    <td>Lemon Cream</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Lemon Meringue</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Peanut Butter Cream</td>
    <td>$3.10</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Peanut Butter Chocolate Cream</td>
    <td>$3.10</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Custard</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Coconut Custard</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>


  <tr>
    <td>Pumpkin</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Pecan</td>
    <td>$3.10</td>
    <td>$3.35</td>
  </tr>
  <tr>
    <td>Fresh Strawberry (seasonal)</td>
    <td>Call for pricing</td>
    <td>Call for pricing</td>
  </tr>
  <tr>
    <td>Strawberry Banana Cream</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Mango Cream</td>
    <td>$3.65</td>
    <td>N/A</td>
  </tr>

  <tr>
    <td>Salted Peanut butter Chocolate Cream</td>
    <td>$3.65</td>
    <td>N/A</td>
  </tr>
</table>

<!-- end -->

<!-- single serve section -->

<table id="customers">
  <tr>
    <th>Single Serve Greate <br>for a quick treat!</th>
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>
  <tr>
    <td>Oreo Brownies (individually wrapped)</td>
    <td>$2.25ea</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Cheesecake Duos</td>
    <td>2 slices for $4.50</td>
    <td>N/A</td>
  </tr>
</table>

<!-- end -->

<!-- 9" fruit pies section -->

<table id="customers">
  <tr>
    <th>9" Fruit Pies</th>
    <p> Our delectable fruit filling made from scratch with a crust top. Crumb top or cream top.
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>
  <tr>
    <td>Apple</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Apple Crumb</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Apple Cream</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Blueberry (Fancy $14.99)</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Blueberry Crumb</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Blueberry Cream</td>
    <td>$2.95</td>
    <td>10.95</td>
  </tr>
   
   <tr>
    <td>Boysenberry</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
  <tr>
    <td>Boysenberry Crumb</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
  <tr>
    <td>Boysenberry Cream</td>
    <td>$2.95</td>
    <td>$3.10</td>
  </tr>



  <tr>
    <td>Cherry</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Cherry Crumb</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Cherry Cream</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>


  <tr>
    <td>Peach</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
   <tr>
    <td>Peach Crumb</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
   <tr>
    <td>Peach Cream</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>


  <tr>
    <td>Pineapple</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
   <tr>
    <td>Pineapple Crumb</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
   <tr>
    <td>Pineapple Cream</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>


  <tr>
    <td>Rhubarb</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
  <tr>
    <td>Rhubarb Crumb</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
  <tr>
    <td>Rhubarb Cream</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>


  <tr>
    <td>Raspberry</td>
    <td>$11.25</td>
    <td>$12.25</td>
  </tr>
  <tr>
    <td>Raspberry Crumb</td>
    <td>$11.25</td>
    <td>$12.25</td>
  </tr>
  <tr>
    <td>Raspberry Cream</td>
    <td>$11.25</td>
    <td>$12.95</td>
  </tr>


  <tr>
    <td>Strawberry</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Strawberry Crumb</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Strawberry Cream</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Strawberry Rhubarb</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
  <tr>
    <td>Strawberry Rhubarb Crumb</td>
    <td>$9.95</td>
    <td>$3.10</td>
  </tr>
  <tr>
    <td>Strawberry Rhubarb Cream</td>
    <td>$9.95</td>
    <td>$10.95</td>
  </tr>
</table>

<!-- end -->



<!-- 9" Specialty pies section -->

<table id="customers">
  <tr>
    <th>9" Specialty Pies</th>
    <p>Available Year Round<br>
    Pre-ordered recommended</p>
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>
  <tr>
    <td>Boston Creme Pie</td>
    <td>$11.99</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Coconut Custard</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>
  <tr>
    <td>Custard</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>

  <tr>
    <td>Key Lime</td>
    <td>$13.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Pecan</td>
    <td>$10.95</td>
    <td>$11.95</td>
  </tr>
  <tr>
    <td>Pumpkin</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>
</table>

<!-- end -->

<!-- 9" Cream Pies -->
<table id="customers">
  <tr>
    <th>9" Creme Pies<br>Our Delicious From Scratch Creamy<br>
    Pudding Center Topped with a Non-Dairy<br>
    Whipped Cream</th>
    
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>

  <tr>
    <td>Banana</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>
  <tr>
    <td>Banana Chocolate</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>
  <tr>
    <td>Strawberry Banana</td>
    <td>$11.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Mango Cream</td>
    <td>$11.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Chocolate</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>

  <tr>
    <td>Coconut</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>

  <tr>
    <td>Lemon</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>

  <tr>
    <td>German Chocolate</td>
    <td>$10.75</td>
    <td>$11.75</td>
  </tr>
  <tr>
    <td>Peanut Butter</td>
    <td>$10.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Peanut Butter Chocolate</td>
    <td>$10.75</td>
    <td>N/A</td>
  </tr>
</table>

<!-- end -->


<!-- 9" Meringue Pies -->
<table id="customers">
  <tr>
    <th>9" Meringue <br> Our creamy pudding topped with out Light<br> and tasty egg white Meringue baked to a beautiful golden brown</th>
    
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>

   <tr>
    <td>Lemon</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>

  <tr>
    <td>Banana</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>

  <tr>
    <td>Banana Chocolate</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>
  <tr>
    <td>Chocolate</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>
  <tr>
    <td>Coconut</td>
    <td>$9.75</td>
    <td>$10.75</td>
  </tr>

  <tr>
    <td>German Chocolate</td>
    <td>$10.75</td>
    <td>$11.75</td>
  </tr>
  <tr>
    <td>Peanut Butter</td>
    <td>$10.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Peanut Butter Chocolate</td>
    <td>$10.75</td>
    <td>N/A</td>
  </tr>
</table>

<!-- end -->



<!-- 9" Cheesecakes -->
<table id="customers">
  <tr>
    <th>9" Cheesecakes</th>
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>

  <tr>
    <td>New York Style Plain</td>
    <td>$18.25</td>
    <td>$19.25</td>
  </tr>
  <tr>
    <td>Key Lime</td>
    <td>$19.25</td>
    <td>$20.25</td>
  </tr>
  <tr>
    <td>Chocolate Swirl Cheesecake</td>
    <td>$19.25</td>
    <td>$20.25</td>
  </tr>
  <tr>
    <td>Chocolate Cheesecake</td>
    <td>$19.25</td>
    <td>$20.25</td>
  </tr>
  <tr>
    <td>Fruit (Blueberry, Cherry, Strawberry, <br> pineapple, Raspberry</td>
    <td>$21.25</td>
    <td>$22.25</td>
  </tr>
</table>



<!-- 9" Gourmet Cheesecakes Pre-order only -->
<table id="customers">
  <tr>
    <th>9" Gourmet Cheesecakes (Pre-order only)</th>
    <th>$25.99</th>
  </tr>

  <tr>
    <td>Amaretto</td>
    <td>Lemon</td>
  </tr>
  <tr>
    <td>Cappuccino</td>
    <td>Mandarin Orange</td>
  </tr>
  <tr>
    <td>Carmel Apple or Dulce de Leche</td>
    <td>Oreo</td>
  </tr>
  <tr>
    <td>German Chocolate</td>
    <td>Snickers</td>
  </tr>
  <tr>
    <td>Irish Cream</td>
    <td>Triple Choco Peanut Btr</td>
  </tr>
  <tr>
    <td>Kahlua Almond Fudge</td>
    <td>White Chocolate</td>
  </tr>
  <tr>
    <td>Southern Pecan</td>
    <td>Black Forest</td>
  </tr>
</table>




<!-- Seasonal Pies, Cakes & Cheesecakes (*Call for availability) -->
<table id="customers">
  <tr>
    <th>Seasonal Pies, Cakes & Cheesecakes (*Call for availability)</th>
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>
   <tr>
    <td>Cookies & Cream Pie</td>
    <td>$13.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Grasshopper Pie</td>
    <td>$13.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>9" Fresh Strawberry Pie</td>
    <td>$17.99</td>
    <td>$18.99</td>
  </tr>
  <tr>
    <td>10" Fresh Strawberry Cheesecake</td>
    <td>$34.99</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>9" Fresh Strawberry Cheesecake</td>
    <td>$30.00</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Strawberry Shortcake 10"</td>
    <td>$29.99</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Boston Creme w/ Strawberries</td>
    <td>$16.99</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Eggnog Cream Pie</td>
    <td>$11.25</td>
    <td>$11.45</td>
  </tr>
  <tr>
    <td>Mince Pie</td>
    <td>$11.75</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Sweet Potatoe Pie</td>
    <td>$11.75</td>
    <td>$12.45</td>
  </tr>
  <tr>
    <td>CranApple Crumb Pie</td>
    <td>$11.25</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Cranberry Cheesecake</td>
    <td>$25.25</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Eggnog Cheesecake</td>
    <td>$19.25</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Pumpkin Cheesecake</td>
    <td>$21.95</td>
    <td>$19.95</td>
  </tr>
  <tr>
    <td>Pumpkin Spice Cake</td>
    <td>$16.99</td>
    <td>$17.99</td>
  </tr>
 
</table>



<!-- Regular Cakes -->
<table id="customers">
  <tr>
    <th>Regular Cakes</th>
    <th>9" Round (double layer) Serves 8-12</th>
    <th>Quarter Sheet (single layer) Serves 12-24</th>
    <th>Half Sheet (single layer) Serves 48-60</th>
    <th>Full Sheet (single layer) Serves 84-120</th>
  </tr>
   <tr>
    <td>Black Forest</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Boston Creme Pie</td>
    <td>$11.99</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Carrot</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Chocolate Fudge</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Eggnog</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>German Chocolate</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Lemon or Strawberry</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Pineapple</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Pineapple Upside Down <br> Single Layer*</td>
    <td>$11.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Raspberry</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Red Velvet</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>Pumpkin Spice</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
  <tr>
    <td>White</td>
    <td>$16.99</td>
    <td>$18.99</td>
    <td>$24.99</td>
    <td>$45.99</td>
  </tr>
 
</table>





<!-- No Sugar Added Cakes -->
<table id="customers">
  <tr>
    <th>No Sugar Added Cakes (sweetened w/ Maltitol)</th>
    <th>9" Round (double layer) Serves 8-12</th>
    <th>Quarter Sheet (single layer) Serves 12-24</th>
    <th>Half Sheet (single layer) Serves 48-60</th>
    <th>Full Sheet (single layer) Serves 84-120</th>
  </tr>
   <tr>
    <td>NSA Carrot</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA Chocolate</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA German Chocolate</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA Lemon</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA Pineapple</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA Raspberry</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA Strawberry</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA Pumpkin Spice</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
  <tr>
    <td>NSA White</td>
    <td>$17.99</td>
    <td>$19.99</td>
    <td>$25.99</td>
    <td>$46.99</td>
  </tr>
</table>




<!-- Half Sheet Brownie (*Pre-order only) -->
<table id="customers">
  <tr>
    <th>1/2 Sheet Brownie</th>
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>
   <tr>
    <td>Plain</td>
    <td>$19.95</td>
    <td>$21.95</td>
  </tr>
  <tr>
    <td>w/ Walnuts</td>
    <td>$22.99</td>
    <td>$23.99</td>
  </tr>
  <tr>
    <td>w/ Icing</td>
    <td>$22.99</td>
    <td>$23.99</td>
  </tr>
  <tr>
    <td>Marshmallow & Ganache</td>
    <td>$20.99</td>
    <td>N/A</td>
  </tr>
</table>

<style>
.fresh-strawberries-box ul li {
  list-style-type: none;
}

</style>

<!-- Fresh Strawberries -->
<div class="fresh-strawberries-box">
  <h3>Fresh Strawberries</h3>
  <ul>
  <li>2 layer 9”   $5</li>
  <li>2 layer 8”   $3</li>
  <li>3 layer   8”   $5</li>
  <li>3 layer   8”   $5</li>
  <li>3 layer   9”   $7</li>
  <li>3 layer  10”   $8</li>
  </ul>
</div>
<!-- end -->

<style>

.disclaimer-box ul li {
  list-style-type: none;
}

</style>

<div class="disclaimer-box">
  <ul>

    <li>Writing     $5</li>
    <li>Decoration  $5</li>
    <li>Sugar Paper $15</li>
    <br>
    <li>*Additional fee applies for writing on any cakes or frosting changes from standard. Cakes are lightly decorated.</li>
    <li>*NSA Items artificially sweetened with Maltitol</li>
    <li>*Fee for decoration & fresh fruit</li>
  </ul>
</div>


<p>
SHEET CAKES 2LYR<br>
(1/4 Sheet single lyr $18.99-/2lyr $37.98)<br>
(H/S single lyr $24.99-/2lyr $49.98)<br>
(F/S single lyr $45.99-/2lyr $91.98)<br>
</p>


<!-- Rosette Cakes -->
<table id="customers">
  <tr>
    <th>Rosette Cakes</th>
    <th>Regular</th>
    <th>No Sugar Added*</th>
  </tr>
  <tr>
    <td>8" 3 Layer Rosette Cake <br> Ombre Available</td>
    <td>$23.99</td>
    <td>$24.99</td>
  </tr>
  <tr>
    <td>9" 3 Layer Rosette Cake <br> Ombre Available</td>
    <td>$27.99</td>
    <td>$28.99</td>
  </tr>
  <tr>
    <td>10" 3 Layer Rosette Cake <br> Ombre Available</td>
    <td>$31.99</td>
    <td>$32.99</td>
  </tr>
  <tr>
    <td>Standard Cupcakes <br> Chocolate, Red Velvet, Vanilla, Carrot, Strawberry, Lemon</td>
    <td>$13.50/dz 6 Each Assorted okay</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Mini Cupcakes</td>
    <td>$14.95 /24 Pack Single Flavor Only</td>
    <td>N/A</td>
  </tr>
</table>
  <h5>*No Sugar Added Artificially Sweetened with Maltitol</h5>




<!-- end of product list -->




<!-- footer section -->



<div class="football">
    <div class="footsie">
      <ul class="footer_menu">
      <h3>Press Mentions</h3>
          <li>National Pie Day NEWS 13</li>
          <li>Review Journal</li>          
          <li>In Business Las Vegas</li>
          <li>Summerlin South View</li>
          <li>Summerlin View</li>
      </ul>
    </div>

    <div class="footsie">
      <ul class="footer_menu">
          <h3>Navigation</h3>
          <li><%= link_to "Home", sites_piesunlimited_path %></li>
          <li><%= link_to "Product List", sites_productlist_path %></li>
          <li><%= link_to "Fundraising", sites_fundraising_path %></li>
          <li><%= link_to "Contact Us", sites_contactus_path %></li>
      </ul>       
    </div>


     <div class="footsie">
        <ul class="footer_social_icons">
            <h3 class="social">Social</h3>
                <li><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><i id="footer-facebook" class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><i id="footer-instagram" class="fab fa-instagram"></i></a></li>

                <!--<li><a href="https://www.facebook.com/Pies-Unlimited-Las-Vegas-577305315626423/" target="_blank"><%= image_tag "facebook-icon.png", :class => "social-logo-fb" %></a></li>
                <li><a href="https://www.instagram.com/pies_unlimited/" target="_blank"><%= image_tag "instagram-icon.png", :class => "social-logo-ig" %></a></li>-->
        </ul>
      </div>

      <div class="footsie" id="hours">
        <ul class="footer_menu">
            <h3>Location</h3>
            <li>2465 W Craig Rd</li>
            <li> North Las Vegas, NV 89032</li>
            <br>
            <h3>Store Hours:</h3>
            <li>Monday - Friday 10am - 5:30pm</li>
            <li>Saturday 10am - 3:00pm</li>
            <li>Sunday Closed</li>
            <br>
            <li>Telephone: 702-433-7437</li>
            <li>Fax: 702-433-7432</li>
            
        </ul>
      </div>

      <div class="footsie" >
        <ul class="sister-site">
            <li>Looking for specialty cakes for birthdays, weddings or anniversaries? <br>Visit our sister site <a href="http://www.fantasyweddingcakes.com" target="_blank">www.fantasyweddingcakes.com</a> for more information.</li>
            
        </ul>
      </div>
        
    </div>
</div>


<div class="container" id="bottom-footer">

  <br>

  <h6>&copy; 2019 Pies Unlimited. All Rights Reserved.</h6>
</div>


<!-- end -->



 </body>
</html>













<!-- end -->