
<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v4.3.5, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Free HTML Bootstrap Restaurant Template</title>
  <%= stylesheet_link_tag "templateF_SS/bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag "templateF_SS/bootstrap-grid.min", :media => "all" %>
  <%= stylesheet_link_tag "templateF_SS/bootstrap-reboot.min", :media => "all" %>
  <%= stylesheet_link_tag "templateG_SS/tether", :media => "all" %>
  <%= stylesheet_link_tag "templateG_SS/mbr-additional", :media => "all" %>
  <%= stylesheet_link_tag "templateG_SS/dropdown", :media => "all" %>
  <%= stylesheet_link_tag "templateG_SS/theme", :media => "all" %>
  <%= stylesheet_link_tag "templateG_SS/mobirise", :media => "all" %>
  
  <%= javascript_include_tag "templateG_JS/jquery" %>
  <%= javascript_include_tag "templateG_JS/bootstrap" %>
  <%= javascript_include_tag "templateG_JS/dropdown" %>
  <%= javascript_include_tag "templateG_JS/jarallax" %>
  <%= javascript_include_tag "templateG_JS/theme" %>
  <%= javascript_include_tag "templateG_JS/jquery-touch" %>
  <%= javascript_include_tag "templateG_JS/formoid" %>
  <%= javascript_include_tag "templateG_JS/popper" %>
  <%= javascript_include_tag "templateG_JS/tether" %>
  <%= javascript_include_tag "templateG_JS/socicon" %>
  
  
</head>
<body>


    <nav class="navbar navbar-expand-lg" id="template-nav">
  <a class="navbar-brand" href="#">Burger Bro's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    <span class="navbar-text">
      Order Delivery
      <i class="fas fa-shopping-cart"></i>
    </span>
  </div>
</nav>

<style>
.mbr-parallax-background {
        background-image: url("/assets/temp-pic40.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        width: auto;
        height: auto;
}

section#footer4-3 {
    background-color: black;
}

.navbar {
  background-color: black;
}

.navbar a {
  color: white;
}

.container-comment {
  color: #e04646;
}

.navbar-text {
  color: white;
  margin-right: 6em;
}

</style>

<section class="cid-qwUtKjk2oY mbr-fullscreen mbr-parallax-background" id="header2-0" data-rv-view="921">

    

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h2 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Burger Bro's</h2><br>
                <h1 class="container-comment"><i>#1 Burgers In Town</i></h1><br>
                <h2 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Coming Soon!</h2>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    <b>Las Vegas</b><br>
                    <b>Los Angeles</b><br>
                    <b>Dallas</b><br>
                    <b>New York</b><br>
                    <b>London</b>


                </p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="#">Make a reservation</a>
                    <a class="btn btn-md btn-secondary display-4" href="https://mobirise.com/bootstrap-template/">Now Serving Delivery!</a></div>
            </div>
        </div>
    </div>
    
</section>








  
  
</body>
</html>